[2019-04-08 19:09] daniel-bolanos commented on #849
- there is no limit on the number of concurrent WebSocket connections, other than the capacity of the service in the cloud, which is very big.
- API keys do not time out, when you pass an apikey to authenticate a connection, if the connection is established successfully, then that is it, you could even delete the apikey and that would not affect already established connections. Same for tokens.
-

[2019-04-09 17:04] msalimbe1 commented on #816
Same thing for me. Unfortunate.

[2019-04-09 17:54] emre93 commented on #849
Hi @daniel-bolanos,
Thank you for the answer! Can I ask you to show me an example of how to send ping-pong frames. I believe that may cause the problem.

[2019-04-09 17:59] germanattanasio commented on #849
@emre93 take a look at https://stackoverflow.com/questions/10585355/sending-websocket-ping-pong-frame-from-browser

We don't have an implementation or documentation on how to do that

[2019-04-09 18:18] daniel-bolanos commented on #849
https://tools.ietf.org/html/rfc6455#section-5.5.2

[2019-04-11 11:35] jeffpk62 commented on #816
The examples have been updated in the source code and will be published very soon.  Sorry for the problems this caused.  One important note:  Please use the documentation at this URL:

https://cloud.ibm.com/apidocs/text-to-speech?code=node#synthesize-audio

The documentation at https://console.bluemix.net is outdated.  In the next couple of weeks, redirects will automatically take you to the curre

[2019-04-11 18:15] emre93 commented on #849
Thank you for the answers! I am no professional on this. Thats why I need a bit more help. So According to my understanding from the links. The STT server suppose to send Ping to me and I need to send Pong in order to tell the server that I am alive right ? So I wrote a code line like this;

 recognizeStream.on('ping',function(event) { onPing('Ping:', event); });

 function onPing(name, event) { c

[2019-04-11 18:31] dpopp07 commented on #849
You are actually supposed to ping the server and it will send a pong back. You do this to let the server know you are still listening and to keep the connection alive - it is proactive on the client's part. Some WebSocket libraries have functionality to do this built in, but we are using the W3CWebSocket protocol and it is not built in to the library we are using. I will look into adding something

[2019-04-11 20:27] dewwwald opened #857 "npm install vulnerabilities @4.0.1"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

 Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**

1

[2019-04-11 20:39] dpopp07 commented on #857
Hey @dewwwald

I think this is the problem:

We are currently on Version 4.0.1 and v2 is no longer supported for security issues. To avoid these insecure dependencies, I strongly recommend you update to the latest version or at the very least v3.18.4.

Also, if you do decide to use the latest version, you should use the package `ibm-watson`, i.e. `npm install ibm-watson`. We moved the package ther

[2019-04-12 13:36] dewwwald commented on #857
@dpopp07  That is good to know. Thank you for that.

I am sorry that I did not check the version. I am also not sure why the installation decided to install that version (I don't have it in my package.json).

Another note, the documentation does not say to install `ibm-watson` instead.

After installing `ibm-watson@4.0.1` (which is the latest), I get the following:
found 12 vulnerabilities (11 mod

[2019-04-12 14:26] dewwwald commented on #857
Sorry about the previous error report. This is not an issue with ibm-watson package but rather my repo. The previous developer instlalled the package, seemingly manually, and then added 'file:watson-developer-cloud' to the package. Pointing to the root of the project at watson-developer-cloud Was this a recommended way to do this before? I am not familiar with this approach.

Now I only get this e

[2019-04-12 14:45] dpopp07 commented on #857
@dewwwald No problem! That is really bizarre, I highly doubt that was a recommended pattern but I also wasn't working on this project at the time. The [install command in the readme](https://github.com/watson-developer-cloud/node-sdk#installation) is updated but it is probably a good idea to add a message about the transition in the readme as well.

Installing `watson-developer-cloud` should also

[2019-04-12 14:59] dewwwald commented on #857
Updating the subject line to be more searchable.

[2019-04-12 16:01] dpopp07 commented on #857
Resolved with #858

[2019-04-12 18:04] #857 closed

[2019-04-12 18:14] dpopp07 commented on #855
@tempoc Thanks for the issue. The key should actually be `NATURAL_LANGUAGE_UNDERSTANDING_IAM_APIKEY`. This was a bug in the credentials file that we noticed last week and should now be resolved.

Closing this issue since I am 99.9% sure that was your issue, feel free to re-open if it still doesn't work for you.

[2019-04-12 18:14] #855 closed

[2019-04-12 18:19] dpopp07 commented on #853
@lee-zhg Will you include more information about your specific problem as well as list steps to reproduce?

[2019-04-12 18:23] dpopp07 commented on #849
@emre93 Turns out, ping frames are not a part of the W3C WebSocket protocol and therefore a limitation of the SDK. For now, I don't think we'll be able to add functionality to do that. An idea for something to try next is to just send audio data over the connection like you already are. Something like a wav file containing a drum hit or something like that may work, or a placeholder word/phrase.

[2019-04-12 18:56] emre93 commented on #849
@dpopp07  Thank you for the detailed look for the solution. And I will do that until another solution comes!

[2019-04-19 08:11] npacucci opened #864 "Error Modules not found building on Angular CLI project."
Hi,
I'm trying to build the SDK v.4.0.1 inside my Angular CLI project but I get the following errors:

I know that the problem is like #770, so there are some dependencies that are not supposed to work in the browser.

**But I'm asking you if will be possible to have an SDK more browser-friendly in the future?**

**SDK Version**
ibm-watson: 4.0.1
@angular/core: 7.2.6
@angular/cli: 7.3.2,
@angular/

[2019-04-19 08:39] npacucci opened #865 "TypeError: fs.existsSync is not a function, instantiating an Assistant2 with Webpack config."
Hi,
I'm trying to instantiate a new Assistant2 object as described in the official doc: https://cloud.ibm.com/apidocs/assistant-v2?locale=it&code=node#send-user-input-to-assistant.
So I did this:

[code]

But at runtime I get the following error:

Before this, I implemented the Webpack configuration as described here (to workaround the Angular CLI build): https://github.com/watson-developer-cloud/

[2019-04-19 17:53] dpopp07 commented on #865
@npacucci I do see the issue, it makes an attempt to read from the credentials file whether you have provided credentials or not. This is unnecessary and I can look into posting a fix for this soon.

In the meantime though, have you tried using your own polyfill - [something like this](https://www.npmjs.com/package/browserfs)?

[2019-04-19 18:03] dpopp07 commented on #864
It is definitely our desire to have the SDK be more browser friendly but I don't know what the timeline on making that happen is. If you have any ideas about the best ways to do that, feel free to open a feature request or better yet, a PR!

[2019-04-23 02:17] DerrickYang007 commented on #816
Thanks

--
发自我的网易邮箱手机智能版

在 2019-04-11 19:35:25，"Jeff Kaminski" <notifications@github.com> 写道：

The examples have been updated in the source code and will be published very soon. Sorry for the problems this caused. One important note: Please use the documentation at this URL:

https://cloud.ibm.com/apidocs/text-to-speech?code=node#synthesize-audio

The documentation at https://console.bluemix.net

[2019-04-23 18:34] MasterOdin opened #867 "Include commitlint.config.js in repo"
When attempting to make a commit to this repo, the commit message is checked by husky to ensure it follows proper paradigm. However, it's confusing that on the first attempt to make a commit, they get the following error message:
[code]
and now the user has to look at getting started for using commitlint and just hope that you folks aren't deviating from the default in any way.

[2019-04-23 18:48] dpopp07 commented on #867
@MasterOdin Thanks for the issue - we were actually just looking at that this morning. A fix should be posted soon

[2019-04-24 20:09] #867 closed

[2019-04-26 15:52] AlaShiban opened #872 "recognizeUsingWebSocket stopped working"
Had an issue with the nodejs SDK stopping to work - discovered that upgrading to the renamed ibm-watson package solved the problem. Thanks!

[2019-04-28 00:24] #872 closed

[2019-04-30 09:12] npacucci commented on #865
In the meantime I tried to use the polyfill and it works, but after I get a runtime error such as:

Probably there is a problem with the SemVer RegEx inside the `semver.satisfies(process.version, '4.x')` method. My process.version is 'v5.0' but if I try to change it at runtime to '5.0.0' it works.

This is the code that throws the TypeError:
[code]

In any case, even changing the process.version a

[2019-04-30 09:15] npacucci commented on #865
In summary, this is my situation:

I've a web application (Angular CLI project) and I would simply like to call client side (Typescript / Javascript) the Assistant2 APIs (createSession, message, deleteSession), it's possible to do it now? I don't understand what I should do.

I think that the most correct solution is to have a pure Assistant2 browser library, as the [`watson-speech`](https://www.n

[2019-05-01 18:45] germanattanasio commented on #865
@npacucci We are working on a fix for this. I will make sure it gets addressed

[2019-05-01 21:25] germanattanasio commented on #865
@npacucci assistant supports CORS but the IAM server that we use to get an access token seems to not. I would suggest you move the access token to an api in your app
[code]

and then use the token as access token in your application so that you don't need to call the IAM url from the browser

[2019-05-08 18:20] lorimbrius opened #879 "TextToSpeechV1 is missing the plain synthesize method"
The [examples](https://github.com/watson-developer-cloud/node-sdk/blob/master/examples/text_to_speech.v1.js) and [API docs](https://cloud.ibm.com/apidocs/text-to-speech?code=node#synthesize-audio) show TextToSpeechV1 having a plain synthesize method in addition to the synthesizeUsingWebSocket method but that seems to be missing:

[code]

[2019-05-09 13:40] Naktibalda opened #880 "Object is a wrong type for key-value pairs"
**Overview**
I am using Node-SDK in my Typescript project and I discovered that Object type is used in definition of many fields containing key-value pairs.
According to https://stackoverflow.com/questions/18961203/any-vs-object

Specifically I am trying to check property of [DialogNodeAction.parameters](https://github.com/watson-developer-cloud/node-sdk/blob/v4.1.0/assistant/v1.ts#L4356)

When I

[2019-05-09 15:15] donovat opened #882 "[discovery] multiple collection query for node sdk fails to work."
**Multiple Collection Query - federatedQuery fails to work**
Calling SDK API;
   discovery.federatedQuery(queryParams, (error, results) =>{
fails with either error Missing collection_id or collection_id's cannot be empty

The SDK documentation states;
collection_ids
string
A comma-separated list of collection IDs to be queried against. Required when querying multiple collections, invalid when perf

[2019-05-09 15:45] mediumTaj commented on #882
Closing as the issue was using `collection_ids` rather than `collection_id`

[2019-05-09 15:45] #882 closed

[2019-05-09 15:49] donovat commented on #882
update: was using collection_id rather than collection_ids. ( wrong way round above).
And then the correct use is:
collection_ids: "f0744d9d-b460-4601-99d5-8f24afXXXXX, 23713373-9be6-42c5-82e6-954a667aXXXX"

[2019-05-09 15:58] mediumTaj commented on #882
sorry i meant that to read that the solution was to use `collection_ids` rather than `collection_id`

[2019-05-09 16:53] radua-ibm opened #883 "DiscoveryV1.deleteTrainingData incorrectly reports an error even if op is successful"
**Overview**
`DiscoveryV1.deleteTrainingData` incorrectly reports an error
[code]
expecting a response body while the DELETE call against `/discovery/api/v1/environments/{environment_id}/collections/{collection_id}/training_data?version=2019-03-25` is sucessful and documented to return HTTP 204 and no response body.

**Expected behavior**
`DiscoveryV1.deleteTrainingData` should not return an error

[2019-05-10 02:05] mkistler commented on #880
Can you show the exact code that is failing?

[2019-05-10 07:52] Naktibalda commented on #880
Here is the minimal reproduction of this issue:

[code]

Output:
[code]

[2019-05-10 11:49] mkistler commented on #880
What is wrong with just changing that line to:
[code]

[2019-05-10 12:18] Naktibalda commented on #880
It is an unnatural way of accessing object property, so it won't be anyones guess.

[2019-05-10 13:01] mkistler commented on #880
But making the change to define `parameters` as a map will force you to use this syntax anyway, right?

[2019-05-10 13:19] Naktibalda commented on #880
No, a map with string keys is an object in javascript, so `.name` syntax works.

[2019-05-10 14:53] mkistler commented on #880
This is really confusing. Typescript disallows `params.test` when `params` is defined as an `Object`, but allows `params.test` when `params` is defined as `{ [key: string]: any; }`, based on the reasoning that "a map with string keys is an object in javascript".  Does that mean that an `Object` is _not_ an object in javascript?

Also frustrating is that the Typescript docs are extremely difficult

[2019-05-10 15:28] Naktibalda commented on #880
I would like to point out that this syntax is used in 12 different places already:
https://github.com/watson-developer-cloud/node-sdk/blob/v4.1.0/assistant/v1.ts#L4232

[2019-05-10 16:05] Gerrit0 commented on #880
TypeScript has come a long way since 2016. Both styles of property access described in that post work in TS 2.4.1 (oldest TS version I have on hand), and we are now on TS 3.4.4.

I believe you misunderstood the `Object` type. Typing a variable as `Object` says `typeof thisVar === "object"`. It says absolutely nothing about the keys of `thisVar` besides the keys common to all objects like `.hasOwnP

[2019-05-13 16:52] #865 closed

[2019-05-14 11:01] npacucci opened #884 "Assistant2 CORS policy error. Access to XMLHttpRequest: No 'Access-Control-Allow-Origin' header."
Hi,
I'm trying to use the Assistant2 APIs inside my Web Application (Angular CLI project) with the suggested [Webpack Configuration ](https://github.com/watson-developer-cloud/node-sdk/tree/master/examples/webpack).

I followed the official docs to use the APIs on pure Client scenario, as described here:
- https://cloud.ibm.com/docs/services/assistant?topic=assistant-api-client&programming_languag

[2019-05-14 16:49] dpopp07 commented on #883
I recently noticed this as well - it is happening for a few Discovery methods. We will look into this very soon

[2019-05-14 18:27] dpopp07 commented on #879
The code you posted is from the helper file, not the file with the primary methods. The HTTP synthesize function is [here](https://github.com/watson-developer-cloud/node-sdk/blob/master/text-to-speech/v1-generated.ts#L260) and should be accessible.

Going to close this issue - please re-open if you are having trouble calling the method and we will help you out

[2019-05-14 18:27] #879 closed

[2019-05-16 20:08] cyruslk opened #887 "natural-language-understanding set language to english"
Hello, i'm using the [natural-language-understanding](https://github.com/watson-developer-cloud/node-sdk#natural-language-understanding) feature and when I parse the text, this error is being outputed: `natural-language-understanding`. How can I set the language to english?

Thanks!

[code]

[2019-05-16 20:19] dpopp07 commented on #887
Hey @cyruslk

Will you post your request snippet so I can see what you are doing?

[2019-05-16 20:39] cyruslk commented on #887
Hey @dpopp07 ,

Thanks so much for the quick reply. I'm using the default example you shared in your README but I don't see where/how to specify the language.

[code]

[2019-05-17 16:00] dpopp07 commented on #887
The language can be specified using the `language` parameter and is automatically detected by the service if the language is not explicitly set. The [NLU docs](https://cloud.ibm.com/apidocs/natural-language-understanding?code=node#analyze-text) can give you more information. Let me know if this helps!

[2019-05-20 16:03] notarnet commented on #884
Any news? @germanattanasio @dpopp07

[2019-05-21 16:35] dpopp07 commented on #883
This will be resolved in #888

[2019-05-22 01:28] maxagabb opened #889 "Tone-Analyzer input parameters"
Hello,
I'm trying to run the browserify example with the Watson Tone-Analyzer.

**Overview**

There seems to be an issue with the way input is given to the tone method of the toneAnalyzer.

**Expected behavior**
By default I expected the result of the method to be tone-analysis of the text-area in JSON format.

**Actual behavior**
Running the code as is results in the following error:
```Error: Mi

[2019-05-22 14:55] #883 closed

[2019-05-23 10:36] waleyson opened #890 "unable to call watson language api behind corprate proxy"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson-cognitive) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting

[2019-05-23 10:38] waleyson commented on #890
Please I am getting this error message
{"name":"Error","message":"Not Found"}
while trying to identify language issue language translator in watson-developer-cloud v2.1.2

[2019-05-23 14:40] npacucci commented on #884
Hi @germanattanasio, I tried getting the access token server side by an api in my app (as you described [here ](https://github.com/watson-developer-cloud/node-sdk/issues/865#issuecomment-488436479)) and it works.

But after I set the access token inside the assistant2 constructor in my client code (typescript):

[code]

and executing the _createSession_ method I get another CORS error calling the

[2019-05-23 14:45] dpopp07 commented on #890
@waleyson Is there a reason you are using v2.1.2? We are on version 4 now and v2 is no longer supported. Will you see if updating your version fixes your problem?

Also, we've moved to the package name `ibm-watson` so you will find the very latest version there.

[2019-05-23 16:00] germanattanasio commented on #884
Ohhh That's a problem on our side @npacucci. Let me work on it and get back to you.

[2019-05-29 20:29] germanattanasio commented on #884
We have a PR to fix this in our servers

[2019-06-04 02:17] horiDemachiLab opened #894 "Text to Speech demo returns 500 error"
**Overview**
I checked out demo project from https://github.com/watson-developer-cloud/text-to-speech-nodejs.
I made .env file and input url and apikey that I got from my IBMCloud account.
Then, run locally.
Access from browser and click speak button.
I got 500 error, and there were error message like screenshots.
After few seconds error message disappear.
I retried to click speak button, then run

[2019-06-08 21:11] cyruslk commented on #887
Hey there --

So this is the way it has to be implemented, right?

[code]

[2019-06-08 21:16] cyruslk commented on #887
What I don't get is that when I'm using this block of code for the following text:

` But whoa the required facts are reached through a potent sympathy and far-rsacbing activity, the collecting agent :s tho nu'trcpolitan newspaper`

I get no keywords.

But when I use your online demo: https://natural-language-understanding-demo.ng.bluemix.net/

I get keywords:

[code]
Is there something I'm doing

[2019-06-10 20:50] #880 closed

[2019-06-11 15:50] npacucci commented on #884
@germanattanasio, I tried using the PR #776 but I couldn't do it. That PR is too old because it was branched from the older master _'watson-developer-cloud'_, so most code has been refactored now inside the new _'ibm-cloud-sdk-core'_ sdk and than the Assistant2 didn't even exist.

Is there any news about this fix to your servers?

[2019-06-12 15:35] evanshortiss opened #896 "Promise/Callback Result Typings in VisualRecognitionV3"
## Issue

*TLDR; Inconsistent typings in Promises vs. Callbacks due to the `return_response` parameter. It would be nice if both return `Response<T>` interface to remove the `return_response` parameter. The only affect on developers is they would need to call `res.result` to get the JSON response from the API call instead of `res` itself being the JSON*

I've been working with the SDK in TypeScrip

[2019-06-12 21:45] dpopp07 opened #897 "v5 Goals"
## Schedule

We plan to release v5 in September 2019. This issue will be updated with more specifics on timing and the availability of release candidates as we get closer to that time.

8/30/19: [Release Candidate 1](https://github.com/watson-developer-cloud/node-sdk/releases/tag/v5.0.0-rc1)

## Breaking Changes
- [ ] Change how we export types **Seeking community feedback**
- [ ] Find a new reque

[2019-06-12 21:46] dpopp07 commented on #896
@evanshortiss Thanks for the issue / proposal!

I very much agree with everything you have stated. The `return_response` parameter is something we haven't been happy with and we are planning on removing it and returning a single Response object as you suggest.

The problem is, this would constitute a breaking change and therefore we have to wait until our next major release which is scheduled for

[2019-06-12 22:31] evanshortiss commented on #896
Thanks @dpopp07, will do! Understood on the major release, and good to know this is on the roadmap 😄

[2019-06-13 00:37] atanasj opened #899 "speech-to-text app fails to start"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

 Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**

1

[2019-06-13 15:11] dpopp07 commented on #899
Hi @atanasj thanks for the issue. This looks like it is not a bug with this repo, but a problem with the usage of this package in another repo.

Will you post a link to the repo that you cloned to get this example app? I can most likely post a fix to that repo that will resolve your issue

[2019-06-14 03:51] germanattanasio commented on #884
Changes are being tested in `dev` I expect them to be in `staging` next week and hopefully prod a day or two after staging

[2019-06-14 07:15] npacucci commented on #897
All right, good, guys. I can't wait for the browser compatibility improvements!

[2019-06-14 19:07] dpopp07 commented on #897
@npacucci Definitely. Feel free to let us know if you have any suggestions as well!

[2019-06-14 19:19] dpopp07 commented on #887
@cyruslk I just made an attempt to reproduce your issue using the SDK and received the same response that you posted from the online demo.

I don't think you are doing anything wrong. I wonder if you are using an older version of the service. What date are you passing in for the `version` parameter in the service constructor?

[2019-06-17 04:15] cyruslk commented on #887
Hello @dpopp07 -This is what I'm passing in the service constructor:

[code]

Is there an error here?

[2019-06-17 15:52] dpopp07 commented on #887
@cyruslk No, I don't see an error. In fact, I am using your exact configuration and I get the correct response. I am not really sure why you would not be getting keywords back, but the only difference between your set up and mine is the instance of the service we are using.

@mediumTaj do you know of any reason NLU would not return keywords for a specific instance?

[2019-06-19 21:00] dpopp07 commented on #887
@cyruslk I am asking around internally about this issue. Will you post the response that you _do_ get when using the SDK?

[2019-06-27 14:57] RMichaelPickering commented on #849
Can we get an update on this issue please? We're just now moving to the new SDK but so far don't see any evidence to suggest this will fix this issue. We are going to try to switch from using API key to access token at the same time, but again, it's not clear that this will fix the issue. This is becoming a potential production issue, and even for demos we're having to restart our node.js service

[2019-06-27 19:55] dpopp07 commented on #849
@RMichaelPickering I have not been able to look at this issue in a bit. Since we currently have a limitation preventing us from using ping-pongs, the solution is probably to send interim data when there is no activity. See [this documentation](https://cloud.ibm.com/docs/services/speech-to-text?topic=speech-to-text-websockets#WSkeep). It states that even silence will work to keep the connection ali

[2019-06-27 21:02] RMichaelPickering commented on #849
@dpopp07 Thanks for your response. As I mentioned before, we're switching from using an API key to an access token when we authenticate to the STT service and open the Websocket connection. We also plan to close it whenever the audio from the client has been suspended, then re-open the connection whenever new audio data is available. If this combination of changes doesn't resolve the issue then we

[2019-06-27 21:15] dpopp07 commented on #849
@RMichaelPickering Sounds good. Keep me posted. I will warn you that the access tokens do expire after an hour. Once the connection opens, the expiration time no longer matters. The connection _should_ remain open indefinitely until there is a timeout as stated in the documentation I posted above. However - if you open a connection, then the token expires, then you close the connection and try to

[2019-07-02 21:28] RMichaelPickering commented on #849
@dpopp07 In the documentation for the Watson STT node.js SDK documentation, there is no method listed for closing a Websocket recognition session. How do we do this please?

[2019-07-02 21:33] NeilSeligmann commented on #853
I'm currently having the same issue.
Using the Assistant v1 when sending a message the output response does not include the "generic" child.

Example Input:
[code]

Example Output:
[code]

Expected Output:
[code]

[2019-07-03 16:01] ChristianStornowski opened #900 "createSession from Assistant V2 is not working behind http proxy"
**Overview**
My enterprise is using a http proxy and because of that `createSession` from `ibm-watson/assistant/v2` is not working. Internally a token from https://iam.cloud.ibm.com/identity/token is created with an axios https post call.
I think axios is not working with https post calls and http proxy.

**Expected behavior**
[code]

**Actual behavior**
[code]

**How to reproduce**
Use a http pro

[2019-07-03 21:10] NeilSeligmann commented on #853
Solved it,
The problem was that we were using an old API version when creating the Assistant Instance.

**Before:**
[code]

**Now:**
[code]

[2019-07-04 05:43] kokoji opened #901 "Unable to call watson Assistant V1 API behind http proxy"
I have similar issue reported already by another user . I am developing a node.js app that calls watson assistant v1 api (message). Since my nodeapp runs behind proxy server, its not able to call watson api. There is no mechanism to specify proxy server to the request wrapper used in the ibm-watson node module. I tried setting http proxy via npm, still it didn't resolve the issue. Can this be fixe

[2019-07-04 06:29] atanasj commented on #899
Thanks @dpopp07, and sorry for my tardy reply. I have since started experimenting with `google-clould-platform` using `python`. I will close the issue as it is no longer relevant to what I am doing. Thanks again.

[2019-07-04 06:29] #899 closed

[2019-07-04 06:54] kokoji commented on #901
The error message is below:
Error: Response not received. Body of error is HTTP ClientRequest object
   at formatError (/var/www/node/ApplTest/node_modules/ibm-cloud-sdk-core/lib/requestwrapper.js:115:17)
   at /var/www/node/ApplTest/node_modules/ibm-cloud-sdk-core/lib/requestwrapper.js:267:19
   at <anonymous>
 message: ‘Response not received. Body of error is HTTP ClientRequest object’,
 body:

[2019-07-04 15:58] RMichaelPickering commented on #849
@dpopp07 @germanattanasio @daniel-bolanos We've now moved to the latest Watson SDK for node.js and double checked our Websocket connection process. Unfortunately there's still an issue. I'm going to open a new Issue to make the details clear.

[2019-07-04 17:07] dpopp07 commented on #849
@RMichaelPickering To answer your question from a couple of days ago, you can use the `.stop()` method to close the session. I'll look our for that other issue to hear more details

[2019-07-04 18:30] dpopp07 commented on #901
Hi @kokoji, try reading the [documentation for `axios`](https://github.com/axios/axios#request-config), which is our underlying request library. All `axios` request options are settable via the **constructor** of the service object. Try the `proxy` parameter and let me know how that goes.

[2019-07-04 18:37] dpopp07 commented on #853
Thank you for posting that solution! Closing this issue as it seems to be resolved

@lee-zhg let me know if you are still having issues

[2019-07-04 18:37] #853 closed

[2019-07-04 18:43] dpopp07 commented on #900
So are you still having an issue?

I was going to suggest using the [`axios` configuration options](https://github.com/axios/axios#request-config), which are exposed in the **constructor** of the service object. That is the only way to use proxies with the SDK

[2019-07-05 05:25] ChristianStornowski commented on #900
I don't have this issue with my a workaround. But i'm manipulating a 3rd party library and this could be dangerous. So i don't really like this workaround. ;-)
The Java SDK has an option for proxies.

[2019-07-05 22:59] RMichaelPickering opened #902 "Watson STT node.js SDK: Websocket abnormally closing with Error 1006"
**Overview**
Watson STT: Websocket abnormally closing with Error 1006
Our node.js app running in IBM Cloud connects to Watson STT using the Websocket protocol, latest ibm-watson sdk for node.js, and recognizeUsingWebsocket method. After a period of time during which per client connections from node.js to Watson STT service via Websocket work normally, all subsequent connections from node.js app to

[2019-07-05 23:00] RMichaelPickering commented on #849
@dpopp07 Opened a new issue, please see #902

[2019-07-07 22:43] dpopp07 commented on #902
@RMichaelPickering Thanks for the detailed issue, I will look into it this week.

[2019-07-08 05:52] S-hiyuko commented on #900
Dear Christian Stornowski,

Hi,I face same issue in Assistant V1.
I tried to add your code in requestwrapper.js,but not working. Could you teach me...

1.Where are you add the code in requestwrapper.js?
2.What is "axiosConfig" parameter?  Did you difine the parameter yourself?

[2019-07-08 06:01] kokoji commented on #901
Hi @dpopp07 , thank you.
I would like to try axios, but it seems that the ibm-watson/assistant/v1.js does not use axios module.
How do I combine ibm-watson/assistant/vi.js and axios module?

[2019-07-08 06:20] kokoji commented on #901
In my understanding, node.js application uses proxy automatically, because I done the command below.
"export HTTP_PROXY=http://xx.xx.xx.xx:xxxx"
"export HTTPS_PROXY=http://xx.xx.xx.xx:xxxx"

I can use other api of Watson discovery service, without additional proxy setting in the code.
Why the api of assistant need the additional proxy settings in the code?
The OS of  server is RHEL v7.

[2019-07-08 07:07] ChristianStornowski commented on #900
Dear S-hiyuko,

I opened the file node_modules/ibm-cloud-sdk-core/lib/requestwrapper.js, searched for axios_1.default.create and added my code.
Because of `var tunnel = require("tunnel");` I added tunnel as a npm dependency and installed it.
This file is attached at this comment.
[requestwrapper.zip](https://github.com/watson-developer-cloud/node-sdk/files/3367026/requestwrapper.zip)

`axiosConfig

[2019-07-08 08:47] S-hiyuko commented on #900
Dear Christian Stornowski,

Thank you very match for your cooperation!!

Our application is working after installing same version node.js and SDK, and putting your requestwrapper.js.

Thank you so, so much!

[2019-07-08 08:50] kokoji commented on #901
I could access Watson assistant from node.js through proxy server by https://github.com/watson-developer-cloud/node-sdk/issues/900#issuecomment-509106115.
But above is a workaround, so I need fix version.

[2019-07-08 14:49] dpopp07 commented on #900
@ChristianStornowski @S-hiyuko You should be able to do this without altering `requestwrapper.js` - the SDK is written so that you can configure these parameters at the service level. All of the `axios` config properties are exposed in the service constructor:

[code]

These will get passed down to the `axios` config object by the SDK.

[2019-07-08 14:58] ChristianStornowski commented on #900
It's not working with AssistantV2.

[code]

[2019-07-08 15:44] dpopp07 commented on #900
Okay, I just confirmed that the constructor does in fact set those config options for the request to the service but not for the IAM token request. Are you using `iam_apikey` for authentication? That could certainly be the problem.

I can look into fixing that soon but could you confirm that this is the case by trying to using an `iam_access_token` that you've created and seeing if that works?

[2019-07-08 16:24] dpopp07 commented on #901
@kokoji There is no need to combine axios and the sdk module - I just meant that the axios options are available in the constructor of the sdk. See [this comment](https://github.com/watson-developer-cloud/node-sdk/issues/900#issuecomment-509257669) in that other thread you mentioned.

There still may be a fix needed in the SDK, as I posted in that other issue. Stay tuned for the fix there

[2019-07-08 20:52] TheGP opened #903 "Payload length 33988 exceeds the payload limit 5120 bytes."
Would be nice to fix it and allow to make longer audios.

[2019-07-08 22:06] dpopp07 commented on #903
@TheGP Will you provide more information about the problem you ran into?

In the SDK, we set the max content length to be "Infinity" and let the individual services handle the payload limits. It could be that the service (I am guessing you are working with Speech to Text?) has set a payload limit on the operation you are using.

Will you provide a code snippet and error message so I can try to rep

[2019-07-09 02:42] S-hiyuko commented on #900
It's not working V1 too. So please also fix it in V1.
We do not use iam_access_token.

[2019-07-09 08:21] henrikmatzen opened #905 "Cannot call Watson Assistant V1 with iam_client_id and iam_client_secret"
**Overview**
When calling Watson Assistant v1 with **iam_client_id** and **iam_client_secret** following error is returned:

`{ Unauthorized: Access is denied due to invalid credentials.
    at RequestWrapper.formatError (/home/janneme/ibm/eva-xxx/node_modules/ibm-cloud-sdk-core/lib/requestwrapper.js:218:21)
    at /home/janneme/ibm/eva-xxx/node_modules/ibm-cloud-sdk-core/lib/requestwrapper.js:206

[2019-07-09 08:52] ChristianStornowski commented on #900
@dpopp07

I used this documentation to generate a token: https://cloud.ibm.com/docs/services/watson?topic=watson-iam.
After getting a token I used iam_access_token to configure, removed iam_apikey property, my `AssistantV2`. But it's still not working without my workaround.

[2019-07-09 17:14] TheGP commented on #903
@dpopp07
`{
   "code_description": "Bad Request",
   "code": 400,
   "error": "Payload length 47818 exceeds the payload limit 5120 bytes."
}`

[2019-07-09 17:28] dpopp07 commented on #903
Are you using the `synthesize()` method? It has a documented upload limit of 5 KB of text. See the documentation [here](https://cloud.ibm.com/apidocs/text-to-speech#synthesize-audio).

The relevant text from the documentation:

It looks like this is a limitation of the service and there is nothing in the SDK we can do about it

[2019-07-11 15:28] lagarwalla opened #906 "Unable to connect to Cloud Pak (ICP4d) Watson instances using SDK"
**Overview**
Unable to connect to Watson Assistant running on ICP4d using SDK. The curl command works perfectly.

**Expected behavior**
The SDK should connect to Watson Service on ICP4d using Node v8

**Actual behavior**
It throws up SSL handshake error. Seems like this is caused by invalid untrusted SSL certificate of WA in ICP4d. The log throws up below error while using debug:
[code]
The generi

[2019-07-12 15:08] germanattanasio commented on #906
Hi @lagarwalla Thanks for writing the issue. Node 6 and 8 are not supported by this SDK but we haven't updated the README yet.

[2019-07-12 15:52] #903 closed

[2019-07-12 15:53] dpopp07 commented on #884
@germanattanasio @npacucci What is the status of this issue?

[2019-07-12 15:54] dpopp07 commented on #887
@cyruslk Any updates here?

[2019-07-12 15:55] dpopp07 commented on #890
@waleyson What is the status of this? If you are still having a problem, will you post more details here?

[2019-07-12 16:16] germanattanasio commented on #884
Still in dev. Something with ingress came up so they are working on that first

[2019-07-12 16:17] dpopp07 commented on #905
@henrikmatzen This is odd behavior, thanks for the issue. To help with this, I would like a bit more info:

What parameters are you passing to the service constructor?

What is result of the debug logs? See [this section of the README](https://github.com/watson-developer-cloud/node-sdk#debug) for instructions on how to run in debug mode.

[2019-07-12 22:37] dpopp07 commented on #902
@RMichaelPickering I've been looking at this and wanted to give an update. Initially, I had a feeling that the token just wasn't being refreshed and that it would be a simple solution. Turns out, I was right about one thing - the token wasn't refreshing the way it should. I fixed that and now the token will expire after a while, the next request will get a new token, and the code continues working

[2019-07-13 23:44] MasterOdin commented on #897
Directed here from #908 about the typing which would be beneficial to address as it causes CI failures for stuff like #910 which attempts to follow current practices.

In a Typescript only world, I'd suggest dropping the namespace bit and just export everything from the top level with a `export default` on the single class. One would then be able to do (for example) `import AuthorizationV1, {Optio

[2019-07-14 01:34] oshihirii opened #911 "Error: wavFileData.writeInt32LE is not a function at RequestWrapper.formatError"
**Overview**

When implementing an example from the repo I am getting an error.

**Expected behavior**

I expect an audio file to be generated without any errors.

**Actual behavior**

I get this error:
[code]

**How to reproduce**

01)  `npm install --save ibm-watson`
02)  reference example code at https://github.com/watson-developer-cloud/node-sdk/blob/master/examples/text_to_speech.v1.js#L14
03

[2019-07-15 11:06] lagarwalla commented on #906
With node10, I am able to connect to WA in ICP4d.

However with node10, I faced issue while connecting to IBM cloud's WA. The issue happens only from IBM office network (seems like some proxy thing). Node8 used to work well from IBM office network.

The error is:
[code]
This error does not come when connecting from Home or Mobile or VPN network.

Details:
- Node 10
- Mac OS 10.13.6
- Error when us

[2019-07-17 09:55] aliuspetraska opened #914 "[AssistantV1] context.metadata object loses message_id parameter upon response"
**Overview**
Making call to Assistant endpoint via SDK part of metadata properties are lost.

[code]

**Expected behavior**
I'm expecting `user_id` and `message_id` will be returned as a part of the response.

[code]

**Actual behavior**

`message_id` is missing.

[code]

**SDK Version**
4.2.2

[2019-07-17 14:28] dpopp07 commented on #914
Hi @aliuspetraska, why are you expecting to see `message_id`?

Looking at the "Response" section of the [documentation for "message"](https://cloud.ibm.com/apidocs/assistant#get-response-to-user-input), `message_id` is not meant to be present in the response:

<img width="2073" alt="message-response" src="https://user-images.githubusercontent.com/9168931/61383897-27918900-a875-11e9-8a96-eb5052a755

[2019-07-17 14:58] dpopp07 commented on #905
Closing as OP has solved their initial problem and is no longer using client ID/secrets.

[2019-07-17 14:58] #905 closed

[2019-07-17 18:42] aliuspetraska commented on #914
Thanks for a reply @dpopp07, the reason we do need it, is that we do have a chatbot orchestrator which was done based on on previous watson-developer-cloud version, and it was working the way I described, so after updated to the new SDK we are not receiving message_id from the watson.

we are using message_id for message logging, reports, feedback collection for exact responses from watson and etc

[2019-07-17 22:00] dpopp07 commented on #914
Okay, I'm still a little confused because it looks like the service itself does not return a `message_id` regardless of what the SDK is doing. I also don't see that parameter in the previous version of the SDK either. Can you clarify a little more?

@rrberry Was there ever a `message_id` field returned from "message" in a previous version of the service?

[2019-07-18 12:44] rrberry commented on #914
@dpopp07 I don't know the history ... all I can tell you is that I don't remember ever _removing_ `message_id`, so I have no reason to believe it was ever there.

[2019-07-18 13:15] mkistler commented on #914
There are no changes to the API doc involving `message_id` in git history:
[code]

[2019-07-18 13:32] aliuspetraska commented on #914
@dpopp07 @rrberry @mkistler the question and the problem is not about is there (or was) `message_id` in the documentation. The problem is about that previously everything what was added to the metadata object was coming back the same structure, and now it drops everything out except `user_id`.

From compatibility perspective it looks like breaking change, at least for us :)

[2019-07-18 21:46] dpopp07 commented on #914
Okay @aliuspetraska I asked around internally some more and found out that

This change was brought about on `2018-07-10` - if you specify a version date of anytime before then, you should be able to maintain compatible behavior. Let me know if that works for you

[2019-07-18 21:57] mkistler commented on #914
@aliuspetraska Thanks for the extra context ... I understand now that you are _sending_ a `message_id` value in `context.metadata` with the message request and expecting this value to be present in the `context.metadata` of the response.

Through some testing, I determined that the behavior you report is actually dependent on the version-date (passed in the `version` parameter) used by the app:
-

[2019-07-19 01:27] RMichaelPickering commented on #902
@dpopp07 Thanks for the update -- yes, we KNEW there was an issue!
We may have found a workaround but it's a fairly obscure and involved approach for node.js, which is quite different from your sample code, and we're still having issues with connections not being very robust! Happy to get on a call to compare notes if it would help.

[2019-07-19 08:08] oshihirii commented on #816
Does `synthesizeStream.resume();` only work with `synthesizeUsingWebSocket`, as commented in the link shared by @dpopp07 :

https://github.com/watson-developer-cloud/node-sdk/blob/master/examples/text_to_speech_websocket.js#L25

I am trying two approaches to get audio in a `map()` function and both giving error ` Not Found: Not Found`.

I've come across this thread and thinking maybe it is because

[2019-07-19 16:47] dpopp07 commented on #902
@RMichaelPickering I have a couple more things I would like to try today. I will let you know if I find anything new, after that a call to compare findings would be a good idea. I would be interested to hear about your workaround as well

[2019-07-19 17:03] RMichaelPickering commented on #902
@dpopp07 Thanks for the further update! We're going to apply the latest update which fixes the token refresh issue, and make some further testing. Unfortunately, so far our workaround seems to not be entirely effective and we still have issues crop up after a period of time, but we want to apply your token fix and see if anything changes. So having a call later next week would make sense from our

[2019-07-19 17:32] #849 closed

[2019-07-19 17:51] dpopp07 commented on #884
@npacucci Thinking about this more, there may be a workaround you can use until things are fixed on our side. If the problem is coming from the request headers, you should be able to [configure `axios`](https://github.com/axios/axios#request-config), our internal request library, to access the request object before it is sent and remove the headers.

We expose most of the `axios` config parameters

[2019-07-19 18:12] RMichaelPickering commented on #849
@dpopp07 It is indeed the same issue. #902 hopefully provides more detailed information to aid with debugging, but this one has not yet been fixed and has now been open for 4 months!  I don't really think it should be closed until the underlying issue is properly fixed!

[2019-07-19 18:15] RMichaelPickering commented on #902
Please also see #849 which was originally opened 4 months ago -- this hasn't yet been fixed!!

[2019-07-20 13:26] oshihirii commented on #903
I am getting error:

    Error: Response not received. Body of error is HTTP ClientRequest object

How can i see the contents of that error to further troubleshoot?

And can i add `maxContentLength: Infinity` to `new TextToSpeechV1()` parameters to resolve the issue?

I am already implementing logic that I believe would keep text content of requests under 5kb, so not sure why i am getting error.

[2019-07-23 17:38] dpopp07 commented on #902
@RMichaelPickering I was finally able to find the issue. It's unfortunate that something so simple eluded me for this long but the good news is, it's a very easy fix. I've tested your use case and once #920 is merged, this should work as expected. Thanks for your patience!

[2019-07-23 18:12] RMichaelPickering commented on #902
@dpopp07 That is really excellent news! I feel your pain about how a relatively simple bug could cause such a subtle but big and difficult-to-solve problem. It happens to all of us sometimes! Truly glad that you've got it sorted out, and looking forward to test the fix!!

[2019-07-23 18:48] #902 closed

[2019-07-24 14:30] germanattanasio commented on #884
The changes to support CORS are now in production 🎉

[2019-07-24 15:21] dpopp07 commented on #816
@oshihirii The `.resume()` function does not apply to your use case because you are using the HTTP version of Synthesize, not the WebSocket version. Only the WebSocket version returns a Stream.

If you want to use a Stream, you need to use the method `synthesizeUsingWebsocket`.

[2019-07-24 15:40] dpopp07 commented on #911
@oshihirii Thanks for reporting this issue. It looks like there is a bug in the `repairWavHeader` method or a problem with the example. I will look into this

[2019-07-24 16:02] oshihirii commented on #816
@dpopp07 - thank you.  I’m a bit confused about this as someone who seems quite knowledgeable about the matter has said in comments on this question that the response type is a stream:  https://stackoverflow.com/q/57157632.

[2019-07-24 18:19] dpopp07 commented on #816
I think I know where the confusion is coming from. We have two methods: `synthesize()`, which uses HTTP, and `synthesizeUsingWebSocket()`, which uses a WebSocket connection.

`synthesizeUsingWebSocket()` returns an actual stream.

`synthesize()` has a _response type_ of stream, but does not actually return a stream itself.

This means you need to handle the response, which is a stream. For example

[2019-07-25 01:16] drwhirst commented on #884
Sill doesn't work for me

[2019-07-25 01:47] drwhirst commented on #884
Access to XMLHttpRequest at 'https://iam.cloud.ibm.com/identity/token' from origin 'http://localhost:8080' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2019-07-25 01:48] drwhirst commented on #884
@germanattanasio

[2019-07-25 07:55] oshihirii commented on #911
@dpopp07 - it also makes me wonder, if you have this in the synthesize parameters:

    accept: 'audio/mp3'

should the `textToSpeech.repairWavHeader(audio)` method still work?

if so, maybe it should be named `repairResponseHeader()` so it is not just relevant to one audio file format?

[2019-07-25 13:37] germanattanasio commented on #911
The `repairWavHeader(audio)` it's just for `WAV` files because they include the file size in the header and it's impossible to know what the size will be when you are streaming it.

[2019-07-25 13:46] germanattanasio commented on #884
The node-sdk can be used in a browser but not the IAM service. You are getting an error because you are trying to use your `apikey` in the constructor and the SDK is trying to get a token with it.

The recommendation is to have that interaction between <apikey>  and <access_token> in the server-side.

The node-sdk will then use the `access_token`.

This is a security feature. The fact that the nod

[2019-07-25 14:08] dpopp07 commented on #911
The `repairWavHeader(audio)` method also only works for audio of type `Buffer` and not type `Stream`. That's the bug - since we're returning Streams now, it won't work as intended out of the box. This is something that should be fixed or at the very least documented.

[2019-07-25 16:12] dpopp07 commented on #889
So your error is that you are unable to run from the browser because of a CORS issue?

Are you using the parameter `iam_apikey` to authenticate with the service. That parameter tells the SDK to make a request to the IAM service to get an access token. Requests to the IAM service cannot be made from the browser for security reasons, so you may need to move the authorization component to the server

[2019-07-25 17:11] maxagabb commented on #889
Thanks for the reply!

I resolved my CORS by instantiating a ToneAnalyzerV3 object with an
iam_apikey in the server. I can now get the JSON results by making a server
request.

If I'm remembering correctly, after resolving the CORS issue that's when
the tone analyzer input became a problem which was fixed with the solution
in my post.

On Thu, Jul 25, 2019 at 12:12 PM Dustin Popp <notifications@gi

[2019-07-25 19:11] dpopp07 commented on #889
No problem! So is this resolved now or are you still having any problems?

[2019-07-25 20:35] maxagabb commented on #889
I have no more problems, so I'll go ahead and close the issue.

On Thu, Jul 25, 2019 at 3:11 PM Dustin Popp <notifications@github.com>
wrote:

[2019-07-25 20:36] #889 closed

[2019-07-29 17:04] dpopp07 commented on #914
@aliuspetraska Does the above solution work for you?

[2019-07-29 17:20] npacucci commented on #884
Hi @germanattanasio , I tried your solution and ideed it works now, but only on Chrome or Opera browsers.

In Edge, Mozilla Firefox or Safari cases I get the following error using the **assistant.message()** method:

Now the problem in your server is on the "Access-Control-Allow-Headers" header, because it doesn't return the 'user-agent' value on  **response**.

**Edge, Firefox or Safari scenario:

[2019-07-29 18:02] germanattanasio commented on #884
@npacucci can you try the following workaround?

[code]

[2019-07-29 18:23] npacucci commented on #884
@germanattanasio the "transformRequest" parameter is not exposed on the Assistant **V2** constructor, so I don't have any entry point to delete that header..

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-29 18:46] dpopp07 commented on #884
@npacucci That parameter is not documented but _should_ be exposed on the Assistant V2 constructor. Are you using TypeScript or a framework that won't let you add an undocumented parameter to the constructor?

[2019-07-29 19:46] npacucci commented on #884
@dpopp07 Yes I'm using TypeScript. I'll wait the fix.
Meanwhile I can try doing a spell to the TypeScript compiler :-)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-30 10:37] npacucci commented on #884
Hi guys, the spell works fine as workaround!
I had to cast the **Options** constructor object to _any_, and also serialize the input **data**.

Like this:
[code]

But now it works fine on cross browser 🤓

[2019-07-30 14:16] matheusbsilva commented on #773
I couldn't get the information about Rate Limit using @germanattanasio example, the returned headers don't contain any info about Rate Limit, is there something I'm missing? My code:

[code]

[2019-07-30 14:52] dpopp07 commented on #773
@matheusbsilva Your code is correct, you're not missing anything. The only reason you are not seeing any rate limit headers is because you are using the `message` method.

According to the docs:

If you need to see the rate limit info for other operations, the way you've set up your code should work.

[2019-07-30 18:14] matheusbsilva commented on #773
Thanks @dpopp07 ! Do you know any way that I can control the request rate limit to the Watson Assistant API? Because I was looking forward to use this headers to do this type of control.

[2019-07-30 18:23] dpopp07 commented on #773
You mean you want to limit your own requests you make to Watson Assistant? I'm not sure I fully understand the use case but you could try something like [this package](https://www.npmjs.com/package/bottleneck) to do that within your code.

[2019-07-30 18:53] gi-joe-moto opened #923 "Internal Server Error - ibm-cloud-sdk-core/lib/requestwrapper.js"
I checked that status is it reports that it's ok.  This could be an intermittent issue, however the requestwrapper .js should have error handling for these types of issues IMHO.

**Overview**

We call Watson Assistant several thousand times a day... most of the time it works... sometimes it give an error.

[code]
**Expected behavior**
I expected Watson Assistant to respond with a status code 200 a

[2019-07-31 15:42] dpopp07 commented on #923
@gi-joe-moto Hi, thanks for the issue. Since these are internal service errors, there's nothing we can do about them in the SDK. They are intermittent as you said.

The request wrapper _does_ have error handling for these but you need to incorporate it into your client code. When the service returns an error, the Promise is rejected. Since you are using `async/await`, you can wrap your SDK calls i

[2019-07-31 17:42] gi-joe-moto commented on #923
Gotcha.  I didn't realize until you wrapped the createSession call that it was the one that failed.  Sure enough though `https://gateway.watsonplatform.net/assistant/api/v2/assistants/<my-assistant-id>/sessions?version=2018-11-08`. Interesting... I like your idea of simply retrying the call.

I'll build that in to see if it reduces our overall failure rate.  Thanks for your response

[2019-07-31 18:02] dpopp07 commented on #923
No problem!

[2019-08-01 15:44] dpopp07 commented on #900
@ChristianStornowski Sorry I haven't responded in a bit. I am actively working on this issue this week. The problem is, I am having trouble recreating the issue because I am not behind a forced proxy.

The best I've been able to do so far is set up an HTTP proxy and try to run HTTPS requests through it to Watson. I am unable to do this using the `proxy` parameter, but I am able to do it successful

[2019-08-01 16:18] gi-joe-moto commented on #923
So when I retry them they still fail... is there any way to find out why they are failing?  Is there something I'm doing wrong when creating the session?

[2019-08-01 16:27] dpopp07 commented on #923
If the error has a 500-level status code, that means it is an internal error to the service and there is nothing wrong with the request. Unfortunately, there's nothing you can do about this short of opening a support ticket with the service. How often are you experiencing these errors?

[2019-08-01 22:08] dpopp07 commented on #914
Closing as this can be addressed on user side

[2019-08-01 22:08] #914 closed

[2019-08-01 22:13] dpopp07 commented on #884
Glad that this works! In the short term, I think we should at least be able to add additional properties to the constructor parameters type so that you don't need to cast as `any`. I'll post that fix in the next week or so.

[2019-08-01 22:14] #887 closed

[2019-08-01 22:15] dpopp07 commented on #688
Closing as 4.0 was released and cookies have been removed. If issues persist, this issue should be re-opened

[2019-08-01 22:15] #688 closed

[2019-08-02 21:15] dpopp07 commented on #884
@npacucci #925 should solve at least that casting issue

[2019-08-03 08:14] npacucci commented on #884
@dpopp07  All right

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-05 15:33] ChristianStornowski commented on #900
This is my new configuration:
[code]

I'm getting the some error:

[code]

[2019-08-05 15:42] dpopp07 commented on #900
@ChristianStornowski Thanks for sharing. Since I can't reproduce this locally, I put together a branch with a potential fix for you to try.

Would you be open to pulling down [this test branch](https://github.com/watson-developer-cloud/node-sdk/tree/proxy-test-share-axios-config), and trying to run your code, using the same configuration, with that local version of the SDK?

What I did in that bra

[2019-08-06 02:48] gi-joe-moto commented on #923
A few hundred times a day usually...  I will raise it up as an issue with our account owner so they can file a support ticket with the IBM Cloud team.  Thanks for the advise.

[2019-08-06 02:48] #923 closed

[2019-08-06 10:48] DamianCummins opened #926 "Jest cannot parse Typescript files when running `npm test`"
**Overview**
Running `npm test` fails due to Jest failing to parse .ts files.

**Expected behavior**
I expected running `npm install -d && npm test` to succeed as per the [contribution guidelines](https://github.com/watson-developer-cloud/node-sdk/blob/master/.github/CONTRIBUTING.md)

**Actual behavior**
The result of running `npm install -d && npm test` was:
[code]

An example of one of the test

[2019-08-06 11:34] DamianCummins commented on #926
Running `npm run build` first did the trick. Will close this.

[2019-08-06 11:34] #926 closed

[2019-08-06 13:53] dpopp07 commented on #926
@DamianCummins looks like the contributions guidelines are out of date. Thanks for bringing this up, I will fix those today

[2019-08-07 14:47] dpopp07 commented on #900
@ChristianStornowski @S-hiyuko will y'all try the [potential fix](https://github.com/watson-developer-cloud/node-sdk/tree/proxy-test-share-axios-config) I posted and let me know what your results are?

[2019-08-07 14:49] ChristianStornowski commented on #900
@dpopp07 i will try your potential fix as soon as possible. :-)

[2019-08-07 16:08] ChristianStornowski commented on #900
I followed the readme.md and everything is working for this DiscoveryV1 version.
I used the current released version from DiscoveryV1 for the current released from ibm-watson and it's not working.
So everything looks good with this branch. :-)

[2019-08-07 16:29] dpopp07 commented on #900
Great! Thanks a bunch for trying that out. It seems that that configuring `axios` worked fine but we were not propagating that config to all requests, which caused the problem. I will post that fix today, should be released today or tomorrow.

[2019-08-07 22:05] dpopp07 commented on #900
Should be fixed in #928

[2019-08-08 09:13] aximobile opened #929 "Block-scoped declarations (let, const, function, class) not yet supported outside strict mode"
**Overview**
Error message 'Block-scoped declarations (let, const, function, class) not yet supported outside strict mode' occurs when deploying a NodeJS web application to IBM cloud

_What is the issue? Be concise and clear._
We use the Cloud foundry CLI to push our application to IBM cloud through the 'cf push <APPNAME>' command.
After building the project, the deployement process automatically

[2019-08-08 13:41] dpopp07 commented on #900
@ChristianStornowski @S-hiyuko will you confirm everything is working in `v4.3.2` using [the approach described here](https://github.com/watson-developer-cloud/node-sdk#using-the-sdk-behind-a-corporate-proxy)?

[2019-08-08 13:43] dpopp07 commented on #901
@kokoji There has been a fix released for this in `v4.3.2`. Try using [the approach described here](https://github.com/watson-developer-cloud/node-sdk#using-the-sdk-behind-a-corporate-proxy) and let me know if that solves your problem.

[2019-08-08 14:41] dpopp07 commented on #890
@waleyson I just released a fix for use of the SDK behind corporate proxies. Try version `v4.3.2` and [follow these instructions](https://github.com/watson-developer-cloud/node-sdk#using-the-sdk-behind-a-corporate-proxy). Let me know if this does not work for you

[2019-08-08 19:17] scottdangelo opened #931 "ibm-credentials.env could pick up WORKSPACE_ID and SKILL_ID"
Since `ibm-credentials.env` picks up the ENV variable for the service IAM_AKIKEYs , it would be very useful if it also picked up WORKSPACE_ID and SKILL_ID and exported them to the environment.
These are often needed in an app, so they must be pushed to the environment anyway, i.e. by putting in a `.env` file.
It's kind of clunky to have to put one ENV variable in a `.env` and the others in `ibm-cr

[2019-08-09 06:01] ChristianStornowski commented on #900
From my side everything is fine with v4.3.2. :-)

[2019-08-09 14:03] dpopp07 commented on #900
Excellent! Thanks again for your help there

Closing this issue - @S-hiyuko if this does not fix your problem, please re-open the issue

[2019-08-09 14:03] #900 closed

[2019-08-12 11:47] ethilesen opened #933 "Watson Assistant V2 don't work on CP4d 2.1.0.0"
Hi,

I'm trying to use V2 to generate a session and it fails with node 10,11 and 12 :(

V1 works just fine...
[code]
[code]

[2019-08-12 14:50] dpopp07 commented on #931
That's reasonable. We are currently re-designing the way we handle authentication for v5 so I can look at factoring this in to that design.

That said, the SDK supports reading credentials automatically from a standard `.env` file. So you can just put everything there and as long as you load them with a package like [`dotenv`](https://www.npmjs.com/package/dotenv). Would that address your use case

[2019-08-12 14:56] dpopp07 commented on #933
Hmm looks like a service error, not sure there's anything we can do in the SDK to fix. @germanattanasio do you know why there might have been an error while creating the session?

[2019-08-12 15:04] scottdangelo commented on #931
Yes, we can use the .env file for credentials, and that's actually how we do it. It just means we cannot teach our users about the ibm-credentials.env method.
FYI, I and my team work in developer advocacy, creating content for developer.ibm.com and for use by advocates at workshops and customer sites. So, this is just a nice-to-have, not a must, and mainly is so we can demonstrate it.
Thanks.

[2019-08-13 04:25] S-hiyuko commented on #900
@dpopp07
Hi,
I try it, but it is not working in V4.3.2. My code is bellow.

————————————
var AssistantV1 = require('ibm-watson/assistant/v1');
var tunnel = require('tunnel');

// Create the service wrapper
module.exports.assistant = new AssistantV1({
    version: env.bluemix.assistant.version,
    iam_apikey: env.bluemix.assistant.iam_apikey,
    url: <assistant.url>,
    httpsAgent: tunnel.httpsO

[2019-08-13 05:59] yosuke312 opened #934 "DiscoveryV1.query() failed with error "BXNIM0408E: Provided refresh token is expired""
**Overview**
DiscoveryV1.query() failed with error "BXNIM0408E: Provided refresh token is expired"

**Expected behavior**
The request should get processed successfully even if refresh token is expired. SDK should handle OAuth flow to get a new access token using API keys behind the scenes without emitting the error back to the app.

**Actual behavior**
The promise returned got rejected with the fo

[2019-08-13 14:13] dpopp07 commented on #900
Yes, those are correct.

What specific error are you getting?

[2019-08-13 14:25] #884 closed

[2019-08-13 14:49] dpopp07 commented on #934
Hmm that's pretty strange. In that version of the code, we assume the refresh tokens will expire after 30 days and we request a new token if the refresh token lives for about 7 days. Is it possible that no requests were made on that server for 7 days? If so, then it's possible the refresh token expired is less than 7 days and the refresh request failed.

In the newest versions of the SDK, we don't

[2019-08-14 14:22] yosuke312 commented on #934
Thank you for looking into this.

I checked our app's log, but is seems no request for 7 days is not the case here. The last successful DiscoveryV1.query() request from the server before the reported failure (2019/08/12-21.37.11.761) was 2019/08/12-00.01.11.693.

It is a good news that upgrading to the latest version will probably resolve the issue. We will do some testing and upgrade to the lates

[2019-08-23 07:43] Santoshbsk opened #939 "Unable to create session"

[2019-08-23 15:09] mwoodsy opened #940 "Speech to Text stream stops working after multiple wav files."
**Overview**
I have node service that listens for the creation a new wav file on a server. When the wav file is being recorded, a node module called GrowingFile streams the file to the watson speech to text service. Growing File allows for a timeout interval so the stream doesn't end until the wav file hasn't changed in X seconds, otherwise I would use fs.createReadStream for real time streaming o

[2019-08-23 15:39] mwoodsy commented on #940
I tried to recreate this using a static wav file of an old recording instead of a wav file that is actively being written too but can not reproduce the same behavior. This only seems to happen with a live recording.

[2019-08-23 22:45] orome opened #942 "Support React Native"
If I attempt to import and use code that invokes the [Watson Assistant API][1] for Node, I get a fatal error

I [gather][2] this means that it is not possible to use the Watson Node API with React Native.

What alternatives are available for using the Watson Assistant API with React Native? Should I just use `fetch` and follow the [Watson Assistant cURL API][3], and if so, how do construct the arg

[2019-08-26 04:46] kokoji commented on #901
It still doesn't work in my environment with module v4.3.2.
I need to do problem determination about this.

[2019-08-26 06:10] kokoji commented on #901
By the way, I'd like to check for PD, what is your Node.js environment version?
My Node.js environment is v8.
I think it may need to update my Node.js environment.

[2019-08-26 10:01] cobaltway commented on #901
We're experiencing the exact same error here with SpeechToTextV1.
Package version is 4.4.0.

[2019-08-26 10:03] cobaltway opened #944 "Documentation for corporate proxy"
The documentation for configuring corporate proxy is confusing as it doesn't match the tunnel package documentation.

Tunnel doc:
[code]

Watson doc:
[code]

Which one is correct ?

[2019-08-26 13:51] dpopp07 commented on #942
@orome Thanks for bringing this to our attention. The intention is to support the SDK on browser and browser-like environments, including React Native. There are some known issues, like the one you pointed out, that we are trying to solve. I will see if there is a short-term fix that could help you along, otherwise it's something we are trying to address for the v5 release at the end of September

[2019-08-27 08:58] cobaltway commented on #944
Thanks.

I close this as the documentation is now fixed.

By the way, sadly, I was already using the right code, so it doesn't fix the problem for me.

[2019-08-27 08:58] #944 closed

[2019-08-27 12:56] cobaltway commented on #901
OK we figured it; we were using the `HTTP_PROXY` value, which contains the `http://` prefix in the production env. An host without the prefix works fine.

Thanks for the reactive support.

[2019-08-28 01:57] kokoji commented on #901
@dpopp07 Hi, it seems to be working correctly. Thank you!

[2019-08-29 16:04] ChrisSchneider opened #945 "Support webhooks when updating workspace"
When updating the Watson Assistant workspace with the node-sdk, the `webhooks` property is ignored.

Updating the workspace with a workspace JSON that contains a webhook works in the REST API.

[2019-08-30 21:39] dpopp07 commented on #897
For all interested, the first release candidate has been published - [v5 Release Candidate 1](https://github.com/watson-developer-cloud/node-sdk/releases/tag/v5.0.0-rc1)

[2019-09-01 08:01] chinmay90kulkarni opened #947 "Getting error in at DiscoveryV1.BaseService.initCredentials"
This error I got when I try to use ibm-watson npm package, version - ^4.4.0

Error: Insufficient credentials provided in constructor argument. Refer to the documentation for the required parameters. Common examples are username
/password and iam_apikey.
    at DiscoveryV1.BaseService.initCredentials (/app/node_modules/ibm-cloud-sdk-core/lib/base_service.js:307:23)
    at DiscoveryV1.BaseService (/

[2019-09-03 15:16] dpopp07 commented on #947
@chinmay90kulkarni That is really strange, because your code looks fine. That error will be thrown if the `iam_apikey` parameter evaluates to "falsy". Is there a chance that `credentials.apikey` could be `undefined` or an empty string?

[2019-09-05 14:05] dpopp07 commented on #940
@mwoodsy I apologize, I missed this issue when it was opened. That's pretty strange behavior. I appreciate you digging in the code and providing that information. I'll try to reproduce this today and start debugging from there

[2019-09-05 14:10] dpopp07 commented on #945
@ChrisSchneider Will you provide a little more detail? What method are you trying to call - `updateWorkspace`? Can you provide an example of the object you are talking about? I don't see mention of a `webhooks` property anywhere in the Assistant documentation.

Also, what version date are you using? It's possible that this is an additional property that used to be supported but isn't anymore. You

[2019-09-05 14:11] dpopp07 commented on #934
@yosuke312 any updates on this issue?

[2019-09-05 14:15] dpopp07 commented on #929
@aximobile This sounds like an issue with the system or the app repository more than the SDK... Have you opened up an issue against that repo?

[2019-09-12 12:22] fishfitz opened #948 "Empty responses on Speech-to-text calls"
**Overview**
We used your speech-to-text services in our app for a long time. But recently we noticed it doesn't work anymore. No error message at all, but the text-to-speech always returns empty objects.

**Expected behavior**
Transcribed text.

**How to reproduce**
I was able to reproduce the behavior just using the example you provide in the readme, and your own speech sample (in your `/ressour

[2019-09-12 17:54] #948 closed, assigned to nobody

[2019-09-13 07:37] Tissandier opened #952 "The npm package is very big and contains nearly 1MB of test output"
**Overview**
The npm package is very big and contains some nearly 1MB of test output

**Expected behavior**
We expect the package to be smaller

**Actual behavior**
See the file test-output.log in the package this file is nearly 1MB, there is maybe other files like that in the distribution.

**How to reproduce**
Just install the package

**Screenshots**
_If applicable, add screenshots to help expl

[2019-09-13 16:48] MasterOdin commented on #764
@dpopp07 So looking over `lib/recognize-stream.ts`, should all of these have a concrete definition (defined under top-level `interface Options`), or are they supposed to be optional?
[code]

And are the last three parameters new and will be added to the API documentation (https://cloud.ibm.com/apidocs/speech-to-text?code=node#recognize-audio-websockets-) when v5 of the SDK is released?

[2019-09-13 16:58] dpopp07 commented on #764
@MasterOdin Ha, yeah that's a good catch. They should all be optional.

As for those last parameters, they are new-ish but not super new. They are documented in the curl tab of the documentation, not sure why they are not in the Node tab. I can investigate that

[2019-09-14 22:18] yosuke312 commented on #934
@dpopp07 Sorry for my delayed response. We have experienced the same issue one more time with the old version of Watson SDK (3.9.1). We upgraded the SDK to the latest version yesterday as suggested, and we have not experienced the issue since then. We still cannot tell for sure if the issue has gone away because the issue seems to happen only once in a few months, but we are OK to close this ticke

[2019-09-14 22:18] #934 closed

[2019-09-15 16:20] luiscastro193 opened #956 "synthesizeUsingWebSocket producing bad files"
Text to speech using synthesizeUsingWebSocket apparently works but the output file can't be opened by any player. The files produced using synthesize (without web socket) work fine but I can't always use the http API because texts are too long.

This is the code:

[code]

**SDK Version**
4.4.0

**Additional information:**
- OS: Linux Mint 19.2
- Which version of `Node` are you using? 10.16.3

[2019-09-15 16:34] luiscastro193 commented on #956
A simplified version of the code:

[code]

[2019-09-15 18:44] MasterOdin commented on #956
I've seen this to. I think the reason is here:
https://github.com/watson-developer-cloud/node-sdk/blob/86506e37d5ef03c5157a36cd978397469cea142e/lib/synthesize-stream.ts#L127-L141

where `chunk` is a string only really at the beginning and that's because https://cloud.ibm.com/docs/services/text-to-speech?topic=text-to-speech-usingWebSocket will initially pass a JSON string that tells you the shape

[2019-09-16 18:00] germanattanasio commented on #952
@Tissandier I think this is a matter of adding a few keys to `.npmignore`. @Tissandier since you found the issue, do you mind doing a PR?

[2019-09-16 18:50] dpopp07 commented on #956
@luiscastro193 Thanks for the issue and @MasterOdin thanks for the detailed explanation. Unless there is a sensible use case for including that information in the audio file itself, I like the idea of not including it in the file and emitting it from a different event so the user can capture it if they want. That seems better if the current approach is currently generating unusable (or difficult t

[2019-09-16 19:17] MasterOdin commented on #956
I would agree that I don't think there is a sensible reason to embed it into the file itself (as pulling out the JSON structure without corrupting the file is a bit tricky) , and just emit on a specifically named events in-case the user wants it.

@dpopp07 I'll make a PR as this does give me immense satisfaction in finally figuring out/fixing why ffplay would fail on audio that was too short. I'll

[2019-09-16 19:30] dpopp07 commented on #956
Since this changes default behavior, my instinct is to be concerned this has the potential to be breaking. That said, if this is purely removing a pain for users than I could consider it a fix and a necessary change in behavior (and/or feature for the new event).

[2019-09-16 19:40] MasterOdin commented on #956
Yeah, it's technically "breaking", but it's breaking in that I think it makes things more inline with how people would expect it to work (certainly how I was expecting it to work), especially based on prior usage of things in older versions and the examples themselves document it. I'd also very like to use this in the v4 branch immediately as I'm not yet ready to spend time in dealing with the aut

[2019-09-16 19:47] dpopp07 commented on #956
Right, I think it is fine. In that case, I will await the PR. Thanks again

[2019-09-16 19:58] MasterOdin commented on #956
No problem, I've got some amount of dead time in my ramp-up for my IBM internship and I figure no one can yell at me for working on a IBM project to fill in the day.

[2019-09-16 20:06] dpopp07 commented on #956
Oh, nice! I certainly won't yell at you 😄

[2019-09-17 03:05] Samer2 commented on #900
Hi @dpopp07 I'm getting the same error when I pull ibm-watson module behind nexus repo. i tried the proxy example given in #944 but no luck.
Node version: 10.16.3 npm: 6.9.4

{ Error: Response not received. Body of error is HTTP ClientRequest object
   2019-09-16T22:52:22.25-0400 [APP/PROC/WEB/0] OUT     at RequestWrapper.formatError (/home/vcap/deps/0/node_modules/ibm-cloud-sdk-core/lib/requestwr

[2019-09-17 21:21] Yingmin-Li opened #961 "NLP classifier url is not corrected v1.js in V4.4.0"
The static URL is not correct in  [natural-language-classifier/v1.ts](https://github.com/watson-developer-cloud/node-sdk/blob/master/natural-language-classifier/v1.ts)

---

**Overview**
_Call NLP classifier API return 401 Unauthorized: Access is denied due to invalid credentials._

**Expected behavior**
_Return 200_

**Actual behavior**
_return 401 Unauthorized: Access is denied due to invalid cr

[2019-09-17 21:41] dpopp07 commented on #961
@Yingmin-Li The static URL is just a default URL and is for the US-South region. It is not intended to work for every user.

If your service is deployed in a different region, like France, you need to set your own URL. You can do this in the service constructor, like so:

[code]

[2019-09-17 21:41] #961 closed

[2019-09-17 22:11] #956 closed

[2019-09-18 14:10] #952 closed

[2019-09-18 19:21] cjolif commented on #952
thanks a lot, when do you think you'll have a NPM release with the fix included?

[2019-09-18 20:20] sgilra opened #963 "SDK identify response doesn't match the service response"
#### Expected behavior
Language Identified `English`
#### Actual behavior
Language Identified `Icelandic`
#### Steps to reproduce the problem
Text used:
[code]
**Screenshots**

<img width="538" alt="Screen Shot 2019-09-18 at 4 15 55 PM" src="https://user-images.githubusercontent.com/19226641/65182600-a77fcf00-da2f-11e9-8416-6a436ad7cad4.png">

**SDK Version**
Not sure which version the LT public d

[2019-09-18 20:30] dpopp07 commented on #952
@cjolif I'm having some issues with the build but should be out by the end of the day today

[2019-09-19 07:29] kyokonishito opened #965 "unable to get APIKEY from ibm-credentials.env"
**Overview**
If I put ibm-credentials.env in the working dir, an error is occured with following message:

[code]
The format of ibm-credentials.env was changed. For example, if I use LanguageTranslator,
current APIKEY's key is:
`LANGUAGE_TRANSLATOR_APIKEY`

The  **OLD** APIKEY's key is:
`LANGUAGE_TRANSLATOR_IAM_APIKEY`

ibm-cloud-sdk-core/lib/base_service.js should be updated to read current forma

[2019-09-19 14:22] dpopp07 commented on #965
@kyokonishito Thanks for the issue. That format of the credentials file is what we are moving towards and will be compatible with our next major release but I didn't know we had changed it already.

@lpatino10 Did we already make these changes to the credentials file? I don't think that is compatible with any of our current SDKs

[2019-09-19 14:41] lpatino10 commented on #965
Hey @kyokonishito, sorry about that. I was responsible for updating that a little prematurely 😞

I'm working now to revert that and make the file compatible with the SDK. I'll report back when that's done. In the meantime, you can manually change that key back to `LANGUAGE_TRANSLATOR_IAM_APIKEY` as a workaround.

[2019-09-19 15:22] dpopp07 commented on #963
@sgilra Thanks for the issue, I will look into this

[2019-09-19 20:55] dpopp07 commented on #897
Note to anyone contributing to the `release-candidate-v5`, I've rebased the latest changes from `master` into a new branch that I'll be using for further major release work named `release-v5-rc-2`. Please direct any inflight changes towards this branch. Apologies for any inconvenience!

@MasterOdin

[2019-09-20 14:58] dpopp07 commented on #896
@evanshortiss I am working on this now. I noticed that the union type of `Promise` and `void` doesn't allow a user to access the `.then()` property of the Promise in TypeScript code. This applies to the current state of the code, so there is currently a bug. I'm guessing you haven't seen the error because you are using `async/await`. Currently, the only solution that I can think of that works for

[2019-09-20 16:45] evanshortiss commented on #896
@dpopp07, I see what you mean. I was using `async/await` so you're right in saying I never encountered the issue.

Would simply returning a Promise everytime be a workable solution? It's a little wasteful since it would be creating a promise that _might_ not be used, but you can support callbacks, promises, and type both of them correctly AFAICT. Using method overloads should do the trick.

Here's

[2019-09-20 16:46] evanshortiss commented on #896
Oh, and I didn't test this so the method body itself might need some more tweaks but it's a starting point 😄

[2019-09-20 17:11] dpopp07 commented on #896
@evanshortiss Thanks for the reply! I was just chatting about this with @MasterOdin and he had a similar solution. After going through it in detail, I think that's what I'll be implementing and you should get an inferred type 👍

[2019-09-24 06:59] kyokonishito commented on #965
@lpatino10 Thanks! I'm waiting for the completion.

[2019-09-24 16:29] lpatino10 commented on #965
Hey @kyokonishito, the change should be live now.

[2019-09-25 00:02] kyokonishito commented on #965
@lpatino10 Thank you for your quick action! I confirmed the fix. I closed this issue.

[2019-09-25 00:02] #965 closed

[2019-09-25 14:41] MasterOdin opened #969 "Build and release node-sdk from a build directory"
Currently, when you run `tsc`, the artifacts from it are placed side-by-side with the *.ts files. This is nice from a release standpoint as it allows for a very clean API usage for loading the various services/versions/etc such as:
[code]

However, it does make going through the build tree more annoying due to the additional clutter of build artifacts. I talked to @dpopp07 and he is suggesting in

[2019-09-26 21:24] dpopp07 commented on #896
@evanshortiss @MasterOdin

Well, that didn't really work. The issue is, executing a callback function and later returning a Promise exposes the method to any problems that may exist in the function passed in as the callback. If the callback function throws an error and we end up returning a Promise, that Promise will reject. If the user thinks they are using callbacks, returning a silent Promise t

[2019-09-26 21:48] MasterOdin commented on #896
From my understanding, the worry here is that if `this.createRequest(parameters, _callback)` throws an exception while using a callback, it will also raise an `UnhandledPromiseRejectionWarning` as well? I'd like to try and get a minimum reproducible example of this, if just so I can better understand typing/TypeScript that much better.

[2019-09-26 22:06] MasterOdin commented on #896
Thinking about this quickly, another alternative (better maybe than doing promise trickery) would be doing inline function overriding in the class:
[code]
Unfortunately, this is a bit more complicated than doing function overrides in the `*.d.ts` files as the return type for each override here has to have a compatible return type, but much like in the suggested Promise return use-case (and current

[2019-09-26 22:17] dpopp07 commented on #896
Hmm this is a nice idea. I tried overloading methods initially and couldn't get the compiler to accept it but looking at this, my syntax might have been wrong. I'll play around with this

[2019-09-29 22:03] Louis345 opened #973 "How To Implement Text To Speech For React-Native (Expo)"
Hello,

I'm unsure if this is the correct place to be asking this and I do humbly apologize if I should be asking this question somewhere else.

I am really interested in using the Text To Speech and was wondering if it is possible to use this API with react-native(expo) without the need of creating a backend server? Could this API be used on just the UI side of things?  If so, could you point me

[2019-09-30 09:08] evanshortiss commented on #896
@dpopp07 ah right, I didn't think about that in the initial method overloading suggestion. I think the correct solution is only to extend the example I gave to return a Promise when necessary using the suggestion by @MasterOdin 👍

It's hairy since you need need to define method A, B, and then implement `A | B` as the return type making the callback optional per the example by @MasterOdin

[2019-09-30 13:31] germanattanasio commented on #973
It will work as long as the IAM server can be called to retrieve a token. I don't know the details for react-native but if the customer can see the code(it's js) then you will risk exposing  your `apikey`.  If you are planning on doing a PoC you shouldn't care about this. For a producion environment you need a bsackend where you can store the` apikey` and an endpoint that can return tokens for you

[2019-09-30 14:21] dpopp07 commented on #896
@evanshortiss @MasterOdin Well after all of this, it occurred to me that `axios` (the request library we use under the hood) returns a Promise and we actually execute the callback inside of the handler for said Promise. This means that the current SDK is already broken as far as allowing Promises rejections for callback users and I'm not sure there's a way to fix it short of swapping out the libra

[2019-09-30 14:25] MasterOdin commented on #896
Would it be possible to highlight the entry point into axios and then were its generally throwing an exception from, messing up the callback chain?

[2019-10-04 16:56] dpopp07 commented on #637
This hasn't changed and doesn't seem to be a problem for TS users. It should also be less of an issue now that Promises have correctly defined return types for inferred typing.

Types can be imported using this syntax:
[code]

Closing this issue - it can be re-opened if it is determined that this is a problem for anyone.

[2019-10-04 16:56] #637 closed

[2019-10-04 16:58] dpopp07 commented on #764
Types have been added and released in version 5.0.0

Thanks to @MasterOdin for his contributions there

[2019-10-04 16:58] #764 closed

[2019-10-04 16:58] dpopp07 commented on #896
Promises now have a clearly defined resolution type that allows inferred typing, starting in v5.0.0

[2019-10-04 16:58] #896 closed

[2019-10-04 17:31] dpopp07 commented on #897
🎉 v5.0.0 gas officially been released! 🎉

Most of the goals were completed with some notable new features:
- A new, stable, and flexible way of authenticating
- Improved typing across the entire library for TS users
- Parameter names changing to match standard JS conventions
- Improvements to allow for use in the browser without workarounds

[2019-10-04 17:32] dpopp07 commented on #897
@npacucci Give this latest release a try in Angular and confirm if it is working or not. We have it working here but I wanted to check with you to make sure. Thanks!

[2019-10-04 17:32] #897 closed

[2019-10-04 17:40] dpopp07 commented on #890
Closing due to inactivity and the fact that this same issue was fixed for everyone that used the above-linked instructions

[2019-10-04 17:40] #890 closed

[2019-10-04 17:43] dpopp07 commented on #864
@npacucci Please see if this is fixed in version 5.0.0 and let me know!

[2019-10-04 18:46] dpopp07 commented on #942
@orome I have a good workaround for this now (I think!) and just published a release which should fix this issue. Try using `v4.5.3` of this library and let me know if it works for you or not. Thanks!

[2019-10-05 17:07] lidderupk opened #980 "Node.js code not working from the API docs"
**Overview**
The code for Node.js from the API docs does not work.
[code]

 I get the following error:

[code]

**Expected behavior**
Expected the code in API docs to work without throwing the error. I got it working with the following code

[code]

**Actual behavior**
Get error
[code]

**How to reproduce**
Copy paste the code from the Node.js API docs.

**Screenshots**
N/A

**SDK Version**
`const

[2019-10-05 17:22] SirSpidey commented on #980
You've caught us in between releasing the SDK major version and updating the docs. For now, take a look at the example at https://github.com/watson-developer-cloud/node-sdk/blob/master/README.md#visual-recognition that shoes the authentication

[2019-10-05 17:46] hgw2101 commented on #980
For reference, the affected Node version here is 8.10.

[2019-10-05 18:03] lidderupk commented on #980
@SirSpidey, that is what I ended up doing. But I don't think other people make that connection and unfortunately just give up on the service. I am an IBMer at a hackathon. I expected the code example in the official API docs to work without having to dig into the SDK source :(. It is also concerning that the examples between API docs and the SDK Github docs are different. Thank you for your attent

[2019-10-05 19:01] mkistler commented on #980
@SirSpidey This is a bug in the front matter for the Node SDK in that it does not specify the version of the Node SDK -- unlike all the other languages.  We need to update the Node front-matter to change:
[code]
to something like:
[code]

While we're at it, we should throw in '--save', so that it adds the dependency to the application's package.json.  So I recommend that the front-matter update fo

[2019-10-05 19:10] MasterOdin commented on #980
Since NPM 5, that's the default behavior unless specified otherwise.

[2019-10-05 20:58] orome commented on #942
@dpopp07 Nope. I get 'module "url"' now, but otherwise the same fatal problem. (With `v5.0.0` also.)

[2019-10-06 21:48] SirSpidey commented on #980
@mkistler Got it. Will update the front matter for the install command. Yes, we just removed the `--save` option.

[2019-10-07 14:46] dpopp07 commented on #942
v5 doesn't include this fix yet - I want to make sure it works before I make that patch.

What error specifically are you getting?

[2019-10-07 18:44] #911 closed

[2019-10-07 19:05] dpopp07 commented on #911
@oshihirii See [the latest documentation](https://github.com/watson-developer-cloud/node-sdk#text-to-speech) for resolution to this issue.

[2019-10-08 18:24] orome commented on #942
I get:

[code]

[2019-10-08 18:24] orome commented on #942
@dpopp07 Simply adding `new AssistantV2` is all I need to do to trigger that.

[2019-10-08 18:31] dpopp07 commented on #942
@orome Thanks for the information. This should be fixable, I will look at it more over the next couple of weeks

[2019-10-11 14:58] henhen87 opened #984 "Unable to upload zip files in Buffer format"
Hello,

I am using the Node-SDK for ibm-watson and am currently trying to Create Classifiers and also compare files with images being uploaded. In the docs here

[Node VR](https://cloud.ibm.com/apidocs/visual-recognition/visual-recognition-v3?code=node#create-a-classifier)

It states that acceptable formats are NodeJS readable stream or Buffer. When I upload a zip file of images from the front end

[2019-10-11 15:26] dpopp07 commented on #984
@henhen87 Thanks for the issue. What exactly is the error you are getting? Also, will you provide a code sample so that we can understand how you are passing the Buffers?

It would also be helpful to know what version of the SDK you are using

[2019-10-11 16:07] henhen87 commented on #984
Hello,

I am using `"ibm-watson": "^4.5.3",` and the Visual Recognition is `V3`.

As for errors, we do not get any errors, as it seems like the files are posting. When I send the buffer, I can see the models are being created in Watson Studio, but the status indicates `failed`. When I click on the test button, there is a message that states

[code]

Here is the code

[code]

In the snippet above,

[2019-10-14 13:28] npacucci commented on #864
Hi @dpopp07 , I tried using the 5.1.0 version, but the building doesn't work yet without the [Webpack Configuration](https://github.com/watson-developer-cloud/node-sdk/tree/master/examples/webpack).

I get the following errors:

[code]
Compared to the previous version the 'fs' library is not yet necessary, but it seems that there are still these dependencies that need a browser polyfill:
- crypto

[2019-10-14 13:41] npacucci commented on #897
Hey @dpopp07 I'm using the 5.1.0 version now.

- The newest authentication system works fine 👍
- Typings for TS are fine 👍
- The paremeter names are ok 👍
- The browser improvements are not enough on Angular CLI project  (as described here #864) 👎

I hope my feedback can help you to improve the SDK. Thank you!

[2019-10-14 15:27] dpopp07 commented on #984
@henhen87 So, I think this is a bug in the SDK. I think the service is expecting a filename, but we aren't exposing a filename property in the SDK. It works with streams because the SDK reads the filename from streams in the background. Of course, there is no way to read a filename from a Buffer so I will release a patch to v4 of the SDK and add a filename field.

[2019-10-14 15:29] dpopp07 commented on #864
@npacucci Thanks for getting back to me and alerting us about the issue - we are looking into it now

[2019-10-14 17:50] henhen87 commented on #984
Hello @dpopp07 ,

I see. In that case for V3, would the only way to currently have file uploads from the front end to back end work be to write the files in the local file system in server or use a cloud storage such as a bucket?

[2019-10-14 17:57] germanattanasio commented on #984
I think we added a fix for this long time ago @dpopp07. @ammardodin did all the work to work with streams.

[2019-10-14 18:04] henhen87 commented on #984
@germanattanasio
Hello, would you happen to have a reference of where this was raised and fixed? I am not sending a stream with `fs.createReadStream` because I am trying to send the file and its contents without having to write it to the local file system then read/create a readable stream of it. Instead from my understanding, buffers are a temporary memory store that hold data while it is being t

[2019-10-14 18:50] germanattanasio commented on #984
I think it was something like:

[code]

Try with:
[code]

[2019-10-15 15:32] dpopp07 commented on #984
@germanattanasio Yes, it works with Streams because we can infer the filename. The above code won't work with Buffers because the SDK won't even process the filename.

@henhen87 Once I merge #985, you should not have to change your code at all. A dummy filename will be sent in the request, which should be all you need.

[2019-10-15 15:35] henhen87 commented on #984
@dpopp07 @germanattanasio

Thank you. I was actually about to message you if the changes in #985 was ready for testing. Once it is, will that be included in V3?

Also tried @germanattanasio solution and that seems to work fine. The documents for Create Classifier Node version doesn't seem to cover these optional properties, `options and filename`, but it works regradless.

[2019-10-15 15:41] dpopp07 commented on #984
Ah yes, looking again at the code @germanattanasio posted, that should work fine. My mistake.

However, I think it is preferable not to have to set up those options in your client code. The patch has now been released in `v4.5.4`. Try installing and testing with that version

[2019-10-15 16:37] ericqqqqq opened #986 "I guess a typo in readme's sample code text_to_speech"
**Check service status**

**Overview**
https://github.com/watson-developer-cloud/node-sdk/blame/master/README.md#L721
the argument `audio` should be `repairedFile`

**Expected behavior**
Sample code store a wav file called audio.wav

**Actual behavior**
There is an error because the variable audio is not in the callback function closure. `ReferenceError: audio is not defined`

**How to reproduce**

[2019-10-15 17:48] mkistler commented on #984
This is a special case for Create Classifier.  For other services with generate an associated `xFilename` parameter.

Please do not use the `options` approach.  It is not documented and we actually want to remove that at some point in the future.

[2019-10-15 19:15] henhen87 commented on #984
Hello,

Yes, @mkistler, I was unaware of the `options` approach until @germanattanasio had mentioned it, since it is as you mentioned not documented.

I just tried @dpopp07 changesets in #985 and it still seems to not be working. I still get `failed` in my Watson Studio when I send the data in this format

[code]
The reason I am sending it in this format is I have got the following error a couple

[2019-10-15 19:49] dpopp07 commented on #984
@henhen87 Hmm not sure why it would not be working. I will investigate further.

As for the docs example - the parameters were converted to use lower camel case in v5. You are using v4, so that does not apply to you but the docs are for the latest version.

[2019-10-15 20:07] dpopp07 commented on #986
@ericqqqqq Good catch! Thanks for posting, this has been corrected

[2019-10-15 20:07] #986 closed

[2019-10-15 21:17] germanattanasio commented on #984
@mkistler How can users send a base64 encoded file? or how can they specify the content type? do we expect the service to use the extension for that?

[2019-10-17 20:26] #906 closed

[2019-10-17 20:27] germanattanasio commented on #933
V2 is not supported in CPD

[2019-10-17 20:27] #933 closed

[2019-10-18 14:15] ChristianStornowski opened #991 "createSession from Assistant V2 in ibm-watson Version 5.1.0 is not working behind http proxy"
**Overview**
My enterprise is using a http proxy and because of that `createSession` from `ibm-watson/assistant/v2` is not working. Internally a token from https://iam.cloud.ibm.com/identity/token is created with an axios https post call.
I think axios is not working with https post calls and http proxy.

**Expected behavior**
[code]

**Actual behavior**
[code]

**How to reproduce**
Use a http pro

[2019-10-18 19:19] dpopp07 commented on #991
Hi @ChristianStornowski - I believe I know the issue here.

The `IamAuthenticator` is sending a request to the token server to retrieve the token. The authenticator has _its own_ HTTPS agent so you need to configure it there also:

[code]

Sorry you're running into this again! Let me know how this goes

[2019-10-18 19:33] ChristianStornowski commented on #991
Thanks for the short response. :-)

I and/or my coworker will test this asap and report(s), hopefully, a success with our solution.

[2019-10-21 14:02] ChristianStornowski commented on #991
It's working with
`authenticator: new IamAuthenticator({apikey: "XXX", httpsAgent}),`
:-)

thx.

[2019-10-21 14:08] dpopp07 commented on #991
Excellent! Before, the SDK would share the agent between the service and token requests. Now, they are configured independently so users are not forced to use the same configuration for both.

[2019-10-21 14:08] #991 closed

[2019-10-24 18:29] #931 closed

[2019-10-28 19:16] #969 closed

[2019-10-29 15:19] #939 closed

[2019-10-30 18:08] bluemixgaragelondon opened #993 "Typescript compilation error due to missing Declaration file for test utils"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

 Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**
N/

[2019-11-04 17:31] dpopp07 commented on #993
Yep, this looks like a bug. I will address this soon

[2019-11-05 17:20] dpopp07 commented on #993
@bluemixgaragelondon I just tried to reproduce your issue and I was not able to. What version of TypeScript are you running? Are you using a custom configuration for your build?

[2019-11-05 17:36] markstur opened #994 "Assistant doesn't recognize env vars unless they go back to the CONVERSATION_ prefix. Which does not even work w/ the ibm-credentials.env provided by the service."
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

 Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**

1

[2019-11-05 18:42] MasterOdin commented on #993
You can reproduce this by setting the `noImplicitAny` flag to `true` in tsconfig.json.

[2019-11-05 19:24] markstur commented on #994
The code workaround of name="assistant" isn't good for me. It works for local env, but it breaks the VCAP support w/ a CF cloud app. The vcap stuff is under "conversation".

[2019-11-09 16:32] #947 closed

[2019-11-09 22:26] KeyAndGate commented on #993
Had this error, turned off `noImplicitAny` after reading MasterOdin's reply. Error went away.

[2019-11-11 14:52] #945 closed

[2019-11-11 14:52] #929 closed

[2019-11-11 15:01] dpopp07 commented on #940
This is probably still an issue even though I have not been able to reproduce yet

[2019-11-11 21:20] christiancompton commented on #864
@npacucci Can you share your tsconfig.json?  I am working on addressing this, but want to make sure my changes will work with your configuration.

[2019-11-12 09:09] npacucci commented on #864
Hi @christiancompton , here is my **tsconfig.json**:

I also have a tsconfig extension **tsconfig.app.json**:

**Angular version 8.2.3**

[2019-11-12 11:03] dvf3101 opened #996 "EPROTO 140502679459712:error:1408F10B:SSL routines:ssl3_get_record:wrong version number- Response not received - no connection was made to the service."
Hi,

we have done the migration of Watson service and the consequent update of the library ibm-watson.

After the update our script doesn't work properly and returns the following error:

To understand if the problem was inherent with the environment, we have tried the following simple code, but returns the same error:

[code]
We have tried the same code in local and works properly.

Another test

[2019-11-12 18:48] dpopp07 commented on #996
Hm, that's interesting that it is working with `axios` directly. It looks like the error is coming from the proxy. Will you try using [this method of configuring the proxy](https://github.com/watson-developer-cloud/node-sdk#use-behind-a-corporate-proxy) and let me know what your results are? You will need to add this configuration both to the constructor and the authenticator.

[2019-11-13 08:59] dvf3101 commented on #996
Hi,

we have used the method of configuring the proxy, but the error is the same. Following the code:

[code]
Following the error:

From some analysis, we have seen that in the classes typescript of different services (for example Discovery and Assistant), we have not found any param called httpsAgent. Could it be this the problem?

Thanks

[2019-11-14 14:53] dpopp07 commented on #996
That is not problem, `httpsAgent` is an `axios` parameter that gets passed straight to `axios`. The issue may be that the `httpsAgent` _also_ needs to be passed to the `IamAuthenticator`, since the authenticator is also making a request (for a token).

[code]

[2019-11-18 16:03] esmiralha commented on #993
Any updates on this bug? Turning off `noImplicitAny` is kinda smelly.

[2019-11-18 16:49] sgilra commented on #963
Not reproducible. Closing as fixed upstream with a deployment of new LID model.

[2019-11-18 16:49] #963 closed

[2019-11-21 15:52] juanpablo64 opened #999 "watson middleware is not working behind http proxy - Response not received. Body of error is HTTP ClientRequest object"
Hello! I am trying to run a botkit application that uses IBM watson assistant as middleware. The problem is, while the whole system works on my local PC, on the server we are deplyoing it into I get the error message when I try sending a message:

[code]

the expected behaviour is: Message is sent to watson IBM assistant, the message is processed and the appropiate response is sent back. Here's ho

[2019-11-21 16:42] dpopp07 commented on #999
@juanpablo64 I see you are specifying the proxy directly, which `axios` cannot handle very well. Please try [this method](https://github.com/watson-developer-cloud/node-sdk#use-behind-a-corporate-proxy) and let me know if it solves your issue.

[2019-11-21 19:17] juanpablo64 commented on #999
thank you so much! it worked as you said!

[2019-11-21 19:17] #999 closed

[2019-11-22 17:45] dvf3101 commented on #996
Hi,

we passed the httpsAgent to the IamAuthenticator, how you have written in your code and now we receive the following error:

How can we solve it?

Thanks

[2019-11-27 16:30] FrancescoDiMaggio commented on #996
Hello everyone,
do you have any update about this Issue?

[2019-12-03 08:42] data-henrik opened #1002 "Camel-casing breaks export / import cycle for Watson Assistant skills / workspaces"
With the V1 API it is possible to create a Watson Assistant workspace: https://cloud.ibm.com/apidocs/assistant/assistant-v1?code=node#create-workspace

Previously, one of the parameters was **dialog_nodes**. This matched the name in the exported skills / workspaces (JSON files). Thus, it was straighforward to parse such a file and then pass it as parameter(s) to the **create** function. With the n

[2019-12-05 01:43] mkistler commented on #1002
Perhaps we could support a `body` parameter that would take the raw body?

[2019-12-05 09:05] data-henrik commented on #1002
In that case all other parameters would / should be optional. Not sure I like it.

[2019-12-05 15:58] mkistler commented on #1002
This looks interesting:

https://matthiashager.com/converting-snake-case-to-camel-case-object-keys-with-javascript

[2019-12-06 14:17] #973 closed

[2019-12-06 18:32] pgoldweic commented on #934
I am seeing the analogous issue but with the Watson Assistant service instead of discovery. The sdk version of watson-developer-cloud I'm running with is 3.18.4. We got an identical error code and error message in our production bot. This version is being used by the botkit-middleware-watson module, version 1.8.2. Any suggestions?

[2019-12-06 18:45] dpopp07 commented on #934
I still don't know how that could happen unless the refresh token was removed on the server side or in the case where no requests were made in 7+ days. Can you provide more details on your situation?

[2019-12-06 18:48] pgoldweic commented on #934
Thanks for replying promptly. This message was received by our bot application that has been in continuous operation, so it is certainly NOT the case that there were no API calls made to Watson Assistant for 7+ days. Fortunately the next API call apparently worked out fine, but it is worrysome that this is occurring, of course, as it completely messed up that particular bot interaction :-(

[2019-12-06 18:56] dpopp07 commented on #934
Interesting. In that case, I'm really not sure why that would happen with a refresh token. I know this may not be ideal, but are you able to upgrade to either v4 or v5? We stopped using refresh tokens in these versions and so the potential for running into that issue again _should_ be eliminated.

[2019-12-06 19:00] pgoldweic commented on #934
Well, I also wonder which version I could safely upgrade to. I'm waiting for a response to such question in the botkit-middleware-watson project. BTW, not sure if this helps at all with your understanding/diagnosis of the situation, but here is a bit more detail for the error:
Error: {"context":{"requestId":"047b58f8522341ed9dac1d5a64f0ffb9","requestType":"incoming.Identity_Token","userAgent":"Not

[2019-12-06 22:42] pgoldweic commented on #934
@dpopp07 , it would be helpful if you could comment on how safe (or relatively safe) it should be to upgrade to a later version of this module, given that I'm using the middleware I mentioned? (apparently, it uses only the 'message' method of Assistant, as far as I can see) .

[2019-12-09 08:38] kyokonishito opened #1004 "Visual Recognition doesn't recognize IAM_APIKEY and URL from credentials.env provided by the service."
**Overview**
Visual Recognition doesn't recognize IAM_APIKEY and URL from credentials.env provided by the service.
When I put the credentials.env provided by the visual recognition service to the working directory, the api returns 'Error: Missing required parameters: apikey'.

**Expected behavior**
The apikey is loaded from credentials.env.

**Actual behavior**
the api returns 'Error: Missing requ

[2019-12-09 10:31] msalimbe1 commented on #1004
You need to pass it to the constructor:

[code]

[2019-12-09 11:09] kyokonishito commented on #1004
My issue is the sdk  does not read the api key from the credentials.env provided by the service [explained as README.md](https://github.com/watson-developer-cloud/node-sdk#credentials-file-easier), not how to pass the APIKEY.

[2019-12-09 15:13] dpopp07 commented on #942
This is still something we need to look at

[2019-12-09 16:27] germanattanasio commented on #1004
This is a known issue and we are working on the fix.

The SDK will recognize `VISUAL_RECOGNITION_` which is the one that in the credentials file.

In the meantime can you use the snippet from @msalimbe1?

[code]

[2019-12-09 16:29] germanattanasio commented on #1004
Related to https://github.com/watson-developer-cloud/node-sdk/issues/994

[2019-12-09 16:29] germanattanasio commented on #980
@SirSpidey was this fixed?

[2019-12-09 17:06] SirSpidey commented on #980
Yes. install is now in this format `npm install ibm-watson@^5.2.0`.

[2019-12-09 18:05] dpopp07 commented on #934
@pgoldweic Looks like the middleware you mentioned is [using v4.2.5 of the Node SDK](https://github.com/watson-developer-cloud/botkit-middleware/blob/master/package.json#L59). Thus, you should be safe to update to v4, which should provide the benefit of not using refresh tokens

[2019-12-09 18:12] #980 closed

[2019-12-09 18:21] #993 closed

[2019-12-09 18:22] pgoldweic commented on #934
I think you may have missed the fact that I'm using version 1.8.2 (and *not* the current version)  of botkit-middleware-watson, which in turn uses version 3.18.4 of watson-middleware-cloud (previous name for the current 'ibm-watson').

[2019-12-09 20:16] dpopp07 commented on #934
Oh I did miss that. I'm not familiar with that package so it's hard to say how safe it would be to upgrade. @germanattanasio might know better than me

[2019-12-09 20:42] pgoldweic commented on #934
Well, I asked in the middleware github first; and the task -of figuring this up- was left for me to figure out, which I understand (since I'm using a legacy version).  As I mentioned earlier, in looking briefly at the source code for the botkit middleware, I see that the only method this middleware uses from Assistant V1 is essentially  'message'. Given this knowledge, what can you say about how t

[2019-12-09 20:43] germanattanasio commented on #934
See https://github.com/watson-developer-cloud/node-sdk/blob/master/MIGRATION-V5.md

[2019-12-09 20:52] pgoldweic commented on #934
Thanks @germanattanasio . That should certainly help!

[2019-12-10 01:08] kyokonishito commented on #1004
@germanattanasio Thank you!  I will pass the api key as your code  until getting the fix.

[2019-12-16 15:25] dpopp07 commented on #984
This looks like it may still be an issue

[2019-12-18 09:21] nevrologica opened #1006 "Custom SDK bundle for browsers with accessToken authentication support."
Looking at previous resolved issues i found a closed one (#30) that i don't understand if it has been resolved with added feature or not.

I attemped to build a custom library including only a subset of services for use client-side on browsers.
I made a new directory in the root folder and included that index.js

[code]
That is my package dependencies from the package.json after installing browser

[2019-12-24 15:53] mkistler commented on #996
Regarding the error message you are getting, I found [this post](https://github.com/openssl/openssl/issues/6805#issuecomment-408770073) that says:

Given that you are using a proxy, I guess there are three possible sources of the error:
- the proxy is not using SSL
- the token service is not using SSL
- the Discovery service is not using SSL

As I look over the notes above, this jumps out:

This l

[2019-12-24 19:43] germanattanasio opened #1007 "Most of the examples in the examples folder are using username and password"
We need to update examples like https://github.com/watson-developer-cloud/node-sdk/blob/master/examples/speech_to_text.v1.js to use the new authenticators.

[2019-12-24 20:40] germanattanasio commented on #1006
I will work with the services to make sure CORS is enabled

[2019-12-28 08:07] vladaman opened #1008 "Getting 404 error on Watson Assistant V2"
I am trying to use V2 and I get 404 error - resource not found. Any reason why?
[code]

[2020-01-02 14:29] germanattanasio commented on #1008
Your `ASSISTANT_ID` and your `instance-id` are different. Try using `https://api.us-south.assistant.watson.cloud.ibm.com` as the service url.

Take a look at the `DEBUG` section and see if you can find the problem https://github.com/watson-developer-cloud/node-sdk#debug

[2020-01-03 09:23] dvf3101 commented on #996
Hi,

thanks for your comment. Unfortunately we are not the VM's owner, so we will report your comment to the owner.

We will reply here as soon as we have an answer.

Thanks

[2020-01-07 14:52] dvf3101 commented on #996
Hi,

our customer is doing some check on VM.
Instead is it possible that the error is generated by token service or Discovery? Could we verify this?

Thanks

[2020-01-09 17:00] dpopp07 commented on #996
The error is likely not generated by the token service or Discovery, because a connection is never being established with the server. The request is dropping for some reason, likely due to what Mike mentioned in his comment.

[2020-01-09 20:22] ZALESCHI opened #1009 "Not Found: Invalid Session"
Hello guys,
I tryed to use v2 integration but return the error:
message: 'Invalid Session',
How can i have this session id?
![image](https://user-images.githubusercontent.com/11997891/72101879-7855dc00-3304-11ea-8da6-4f7ee2708d17.png)

[2020-01-09 20:47] dpopp07 commented on #1009
You will need to create a session first. You can use the `createSession` method to do this.

[2020-01-09 20:59] ZALESCHI commented on #1009
How i can do it?have a tutorial? ty for the help

[2020-01-09 21:05] ZALESCHI commented on #1009
like this ?
assistant.createSession({
    assistant_id: 'XXX-XXX-XXX-XXX'
})
    .then(res => {
        console.log(JSON.stringify(res, null, 2));
    })

[2020-01-10 08:32] dvf3101 commented on #996
Hi,

thanks for your response. We are planning some changes to the proxy configuration in the next days.
We will update you.

Thanks

[2020-01-11 15:15] chughts opened #1010 "NLC createClassifier throwing missing metadata error"
I am using ibm-watson v 5.2.1
Node v 10.16.3

I am able to create a classifier using CURL but get an error trying to create the classifier using the Node.js ibm-watson SDK. The error is suggesting metadata is missing, but all metadata has been provided.

I suspect that the SDK is not passing the language metadata to the underlying REST API correctly.

I have created a simple app based on the sampl

[2020-01-11 20:28] muneebGH opened #1011 "Error: connect ECONNREFUSED 127.0.0.1:80 | Response not received - no connection was made to the service."
`Remember,` an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

 Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**

[2020-01-13 14:57] dpopp07 commented on #864
We still want to fix this

[2020-01-13 21:49] dpopp07 commented on #1011
Are you running through a proxy? If so, you will need a special configuration. See [this documentation](https://github.com/watson-developer-cloud/node-sdk#use-behind-a-corporate-proxy) for more information.

[2020-01-15 16:45] dpopp07 commented on #1010
@chughts Thanks for the issue. This looks like it may be a bug. I will investigate soon

[2020-01-15 17:25] ykcadcg opened #1012 "error:"unable to transcode data stream audio/mpeg -> audio/x-float-array ""
https://cloud.ibm.com/apidocs/speech-to-text/speech-to-text supports mpeg, and I have .mp4 files. I thought recognize API would support mp4, but doesn't seem so? Do I miss anything?
I can feed in either .mp4 or .aac.
[code]

[2020-01-15 17:33] dpopp07 commented on #1012
@ykcadcg This repo is for the `ibm-watson` NPM package - are you having an issue with the SDK?

[2020-01-16 04:02] ykcadcg commented on #1012
no, it's regarding https://cloud.ibm.com/apidocs/speech-to-text/speech-to-text . I posted another issue on its repo but it didn't have traction, so posting here.

[2020-01-16 21:35] dpopp07 commented on #1010
@chughts Turns out, this is an error in the example. The `trainingMetadata` parameter is meant to be a file, as it is documented. The example _should_ read:
[code]

where `metadata.json` contains your information:
[code]

I will make sure to get the example updated. Thanks again for the issue!

[2020-01-16 21:35] #1010 closed

[2020-01-17 10:04] dvf3101 commented on #996
Hi,

after your response the service now works properly.

Thanks

[2020-01-17 10:04] #996 closed

[2020-01-17 10:14] guanchaoli opened #1014 "[Watson Assistant] Need include_count param for list requests."
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson-cognitive) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting

[2020-01-17 11:02] chughts commented on #1010
@dpopp07 thanks for the information. Just wanted to document that in my case this translates to

[code]

which does work.

[2020-01-17 18:25] nicolascatalan commented on #1008
you found solution?

[2020-01-20 04:34] kenime opened #1016 "Upgrade Axios to ^0.19.1 to support http proxy natively"
As mentioned in some closed issues (e.g. #900), this library doesn't support http proxy natively due to some compatibility issue in axios 0.18.0, and some additional code on is required to establish a https over http tunnel.

This compatibility issue is fixed (axios/axios#959) and merged in 0.19.0, hence I would propose updating the dependency to reduce customising effort.

[2020-01-20 07:43] ankurranpariya4066 opened #1017 "Text-To-Speech: RangeError [ERR_OUT_OF_RANGE] when using audio/mp3 OR audio/mpeg as media type"
There is an issue in repairWavHeaderStream function when using mimeType = audio/mp3 or audio/mpeg with text-To-Speech SDK.

If we use audio/wav mime type with same content, Everything goes well without any error.

For MP3 / MPEG, Text To Speech fails and returns following error:

ibm-watson package version => 5.3.0
Node version: v11.13.0

Code to reproduce the issue:
[code]

[2020-01-20 16:50] germanattanasio commented on #1016
@kenime why don't you write a PR and we can take it from there

[2020-01-21 07:03] kenime commented on #1016
sure, PR on the way

[2020-01-21 16:49] dpopp07 commented on #1016
@kenime Thanks for opening the issue. As you probably remember from [this PR](https://github.com/IBM/node-sdk-core/pull/39), we are unwilling to upgrade to `0.19.x` until we have a major release, since they seem to have made breaking changes.

We do want to upgrade at some point so I will leave this issue open for tracking. That said, I am going to close the PR for now.

[2020-01-21 17:00] dpopp07 commented on #1017
@ankurranpariya4066 the `repairWavHeaderStream` method is only applicable to WAV files. WAV files have a corrupted header when they are returned that needs to be repaired. This is not the case for audio of other formats, like `mp3`.

[2020-01-21 17:00] #1017 closed

[2020-01-21 19:14] dpopp07 commented on #1014
@guanchaoli Thanks for the issue. I wasn't aware of why this parameter was removed from the SDKs but I did some investigating and it turns out, we should be able to add it back soon. I will try to add it in one of our upcoming releases. Thanks again to bringing awareness to this!

[2020-01-22 10:33] cmpmohan opened #1019 "getaddrinfo ENOTFOUND getaddrinfo ENOTFOUND"errno":"ENOTFOUND","code":"ENOTFOUND","syscall":"getaddrinfo","hostname": iam.bluemix.net iam.bluemix.net:443"
**Overview**

We have a nodeJS application that is running in a container and it includes an IBM apikey.

**Actual behavior**
[code]

**SDK Version**

**Additional information:**
node 8

[2020-01-22 14:49] Dezainer opened #1020 "Missing required parameters: apikey ?"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

 Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**

1

[2020-01-22 15:54] dpopp07 commented on #1020
Hey @Dezainer - I actually think the solution here is simple - you just need to use the parameter name `apikey` (all lowercase!) instead of `apiKey`. Let me know if that doesn't work and we can debug. Thanks

[2020-01-22 16:15] Dezainer commented on #1020
@dpopp07 🤦‍♂ that was actually it, thank you for stoptting it and sorry for wasting your time xD

[2020-01-22 16:58] dpopp07 commented on #1020
No problem! Those can be the hardest bugs to spot 🙂

[2020-01-23 22:41] germanattanasio commented on #1019
@cmpmohan do you have an IBM Cloud apikey or a Watson Discovery apikey? they are different.

[2020-01-27 21:04] #994 closed

[2020-01-28 13:11] cmpmohan commented on #1019
Yes we have.. looks like issue resolved once we have updated proxy details inside container

[2020-01-28 20:26] dpopp07 commented on #1009
Like this: where `assistantId` is lower camel case (if you are using v5)

[code]

Does that solve your problem?

[2020-01-29 14:36] ZALESCHI commented on #1009
Hello, yes its works for me, thanks for the help, sorry for delay to response

[2020-01-29 15:25] dpopp07 commented on #1009
Glad to hear!

[2020-01-29 15:25] #1009 closed

[2020-01-29 16:48] tanushreepaul04 commented on #1004
**The same issue is there with Watson Assistant. Not reading from ibm-credential.env file.**
If IAM creadential is given in a ibm-credential.env file, AsistantV2  can not read it from that ".env"
Always throwing **Error: Missing required parameters: apikey**.
It only works if the credentials are passed in constructor directly.

[2020-02-03 16:57] data-henrik commented on #1002
bump

[2020-02-11 16:24] #1019 closed

[2020-02-12 20:52] aumerhadi opened #1025 "IBM skill (dialog) doesn't return the main intent or dialog name with final response"
**Overview**
IBM dialog doesn't return the main intent or dialog name with the final response (after collecting all entities)
even with return_context: true
Without the intent or dialog name, the backend server doesn't know how to process this request
even with return context enabled
`'options': {
                'return_context': true
}`

**Expected behavior**
the final response should include ma

[2020-02-17 09:56] pintux opened #1026 "Refused to set unsafe header "User-Agent" in AssistantV1.message()"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

 Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**

1

[2020-02-17 10:29] pintux commented on #1026
Sorry, it was caused by a global XMLHttpRequest set to xhr2 lib. Avoiding that, it works as expected.

[2020-02-17 10:29] #1026 closed

[2020-02-24 15:53] dpopp07 commented on #1007
We still need to do this

[2020-02-24 15:54] kevinkbender opened #1027 "Issue loading in-browser in IE11"
**Overview**
If we include ibm-watson 5.4.0 in our page, the page doesn't load in IE11 due to use of ES6 syntax.

I couldn't find a browser list on this repo anywhere, but README.md does say that it "should work in the browser" so I hope it's appropriate to create a bug for this.

I believe the issue is related to dependencies used by the sdk (camelcase, file-type, debug).  Do you have any recomme

[2020-02-24 23:04] germanattanasio commented on #1027
Did you look at https://github.com/watson-developer-cloud/node-sdk/tree/master/examples/browserify? It's an example of how to browserify the node-sdk

[2020-02-29 21:22] #1006 closed

[2020-03-02 23:19] jfmartinez opened #1028 "Improve error handling and reporting for WebSocket recognize and synthesize streams"
Hello,

Wanted to ask if its possible to improve the error handling of the SDK for the websocket recognize and synthesize streams.

Using the following example:

[code]

If I specify an incorrect API Key, change a letter - I would expect to get a `401 Status Code` as the reason for the connection error. But this is what I receive:

[code]

There aren't any errors that would help the user debug the

[2020-03-03 22:45] dpopp07 commented on #1028
@jfmartinez What version of the SDK are you using? I just tried to reproduce your error by changing the API key (using almost your exact code otherwise) and I got the following error:

[code]

[2020-03-03 22:56] jfmartinez commented on #1028
@dpopp07 I'm using version `5.4.0` of the SDK, Node.js: `v12.14.1`

[2020-03-04 15:39] dpopp07 commented on #1028
Okay. I am using the same version of both the SDK and Node but I am unable to reproduce your issue. In fact, I don't even get an `event` field on the error object - it prints `undefined`.

I get more error information by printing the whole error or by printing `error.message`, which is the field the usually carries the summary of what actually went wrong.

Another thing that is causing issues for

[2020-03-04 15:54] jfmartinez commented on #1028
When I use the `IamAuthenticator` as the authentication method, I do get the error you're referring to: `Bad Request: Access is denied due to invalid credentials.`. Are you using the exact same code and still get different results?

[2020-03-04 19:11] dpopp07 commented on #1028
Ah yes, my apologies. I believe I misunderstood the question. I am able to reproduce your results using the `BasicAuthenticator`.

The reason for this is, as you expected, using the `IamAuthenticator` we actually make the token request before the WebSocket connection is ever opened. The error for the token request is handled by the usual SDK mechanics and we get the error.

Using the `BasicAuthent

[2020-03-04 20:31] jfmartinez commented on #1028
Gotcha, I think its a problem with the underlying WebSocket library that doesn't propagate the error correctly.

I'm OK with leaving it generic for now. I was thinking about opening an issue with the underlying WebSocket library (looks like https://github.com/theturtle32/WebSocket-Node),

Seems to be an issue with error handling in that library, ex: https://github.com/theturtle32/WebSocket-Node/bl

[2020-03-04 22:18] dpopp07 commented on #1028
Hmm, that's interesting. Perhaps it is intentional, although I'm not sure what the reasoning would be. Let me know if you do open an issue there and I'll follow along

[2020-03-11 09:06] bmhan9710 opened #1029 "Cannot read zip file in "createClassifier" method (400 code error)"
[ Current environment ]
- Node version: v12.14.1
- Library Name: VisualRecognitionV3
- version: "2018-03-19"
- example reference URL: https://cloud.ibm.com/apidocs/visual-recognition/visual-recognition-v3?code=node#create-a-classifier

[ Content ]
Hi I am using Visual Recognition library and found that the parameter for "createClassifier" method is not working properly.

As you may know, the "crea

[2020-03-19 16:44] dpopp07 commented on #1025
I am not sure why you would be seeing this behavior but it is not likely an issue with the SDK.

What is the date you are using for `version`? @rrberry are you aware of any change in behavior that would explain this between version dates?

[2020-03-19 17:07] rrberry commented on #1025
Nothing I know of.

[2020-03-19 20:12] aumerhadi commented on #1025
I am using 2019-02-28, I didn't try another version, is there any other version you recommend ?

[2020-03-20 16:20] #864 closed

[2020-03-20 23:20] #1011 closed

[2020-03-23 04:50] #1012 closed

[2020-03-24 03:15] nathannzw opened #1030 "STT Mic Example"
Hi running the program causes the code to exit and visual studio to crash. What is wrong?

[code]

[2020-03-24 18:37] dpopp07 commented on #1030
@nathannzw What version of the SDK are you using? One potential problem is that the latest versions use camel case for all parameters, so
[code]
should be
[code]

but that should not cause Visual Studio to crash. In fact, nothing about that code should. Are you seeing any error messages or anything?

[2020-03-24 19:59] #1008 closed

[2020-03-25 01:32] nathannzw commented on #1030
Hi, there are no error messages shown. Will try and figure out the issue. I shall close this thread as the problem is not due to the code itself. Thanks.

[2020-03-25 01:32] #1030 closed

[2020-03-25 14:12] dandv opened #1032 "Explain where to find the version dates"
I'm looking at the samples in the README, and they all use some YYYY-MM-DD version numbers such as `version: '2018-04-05'` (except for the [Language Translator](https://github.com/watson-developer-cloud/node-sdk#language-translator) sample, which uses `YYYY-MM-DD` literally :eyes:).

Where does one find the available versions?

Is there a `latest` designation?

The [Usage](https://github.com/watso

[2020-03-25 14:18] dpopp07 commented on #1032
@dandv Thanks for the issue. You can find information about versioning in the [official API/SDK documentation](https://cloud.ibm.com/apidocs/language-translator/language-translator#versioning). When in doubt, you can always use today's date to get the "latest". The important thing is that once you've set a date for your application, you don't change it (unless you intentionally want to move to a n

[2020-03-25 14:18] #1032 closed

[2020-03-25 15:47] dandv opened #1033 "Multi-byte characters break analysis"
Apparently, multi-byte Unicode characters such as emojis confuse the offset of some words. A minimal reproduction is below:

[code]

The first entity is `rave partners ` (not talking about `partners` being a verb here; just the chopped off first letter).

Using `version: '2020-03-26'`.

[2020-03-25 16:55] dandv opened #1034 "Keyword with punctuation inconsistently detected"
The keyword `ICE Clear U.S.` is correctly detected in

![image](https://user-images.githubusercontent.com/33569/77563582-52fd6500-6f26-11ea-8000-61c65ac1d611.png)

...but not detected in

![image](https://user-images.githubusercontent.com/33569/77563413-20536c80-6f26-11ea-8fc3-542d33c60977.png)

[2020-03-26 00:23] dandv opened #1035 ""entities: cannot analyze: downstream issue" on text with emojis"
Apparently, multi-byte Unicode characters such as emojis [also](https://github.com/watson-developer-cloud/node-sdk/issues/1033) cause a "downstream issue" for `analyze`. A minimal reproduction is below. I've set the `language` to `en` [as suggested on SO](https://stackoverflow.com/questions/50424019/watson-nlu-giving-downstream-issue-500-in-a-loop-but-not-on-the-sentence-indi#comment87877700_50424

[2020-03-26 15:57] dpopp07 commented on #1025
@aumerhadi what happens if you invoke this request using a `curl` command? Do you see the same behavior?

[2020-03-27 16:06] aumerhadi commented on #1025
@dpopp07 I never tried it with `curl`, I will test and share the result

[2020-03-28 17:38] #1016 closed

[2020-03-28 20:38] #1014 closed

[2020-03-30 14:54] germanattanasio commented on #1004
@tanushreepaul04 Can you please show us the keys in the `ibm-credentials.env` file? I think it's related to the keys not being the ones that the SDK is looking for

[2020-03-30 17:25] germanattanasio commented on #1035
Can you test sending a json file in curl with the same content? I'm wondering if it's a service issue or if the SDK is doing something with the encodign...

[2020-04-01 17:29] ljoseppi opened #1038 "IamAuthenticator fetching a new token on every request"
**Overview**
We've received the following email:

**Expected behavior**
IamAuthenticator should handle token expiration and renovation, as in the [documentation](https://github.com/IBM/node-sdk-core/blob/master/AUTHENTICATION.md#identity-and-access-management-authentication-iam)

**Actual behavior**
IamAuthenticator is fetching a new token on every request

**How to reproduce**
We followed this [e

[2020-04-01 17:43] mkistler commented on #1038
The problem is that you are constructing a new `IAMAuthenticator` and `watson_assistant` object for every call to `message`.  You should construct these once and then just reuse them for subsequent calls to `message`.

[2020-04-05 15:52] mkistler commented on #1038
Received word that the issue was resolved using the approach above.

[2020-04-05 15:52] #1038 closed

[2020-04-06 16:04] aumerhadi commented on #1025
@dpopp07  I got the same response, no intent include

[code]

[2020-04-06 16:59] dpopp07 commented on #1025
Okay, so there's nothing we can do in the SDK to change your result. I will ask someone that works on Assistant to comment on the issue

[2020-04-06 17:02] mitchmason commented on #1025
To clarify for the rest of the team, this is not an issue with the SDK. When calling the /message API, the intents/entities returned are for the previous message only. So I am assuming the input was very short and no intent was identified for that specific turn, hence no intent is returned. To return the dialog diagnostic information try setting debug:true instead of context. The debug information

[2020-04-07 15:19] germanattanasio commented on #1002
We are still looking at this

[2020-04-08 12:56] Douglas-J-Johnson commented on #884
Hi, I am attempting to access some of the other Watson services (tone, natural language, personality insights), and have received the following error: **Access to XMLHttpRequest at 'https://iam.cloud.ibm.com/identity/token' from origin 'http://localhost:3001' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.**  which appears to be relate

[2020-04-08 19:58] dpopp07 commented on #884
Are you using the SDK from a browser?

[2020-04-09 14:13] Douglas-J-Johnson commented on #884
Dustin,
Thanks for getting back to me quickly!  I was trying to use the node SDK
with vanilla JS and browserify/watchify.  I ended up going a different
route when I got stuck with SDK by translating the curl documentation into
fetches and using a backend service to generate tokens so I have something
working right now, but I am still curious about the SDK.

Thanks,
Doug

On Wed, Apr 8, 2020 at 1:5

[2020-04-23 04:42] #984 closed

[2020-04-25 04:35] #942 closed

[2020-05-02 07:04] #1007 closed

[2020-05-02 07:04] #1027 closed

[2020-05-03 18:19] LuisPeregrinaPSL opened #1041 "languageTranslator.getTranslatedDocument's result is not pipeable/readable"
Remember, an issue is not the place to ask questions. If you have issues with the APIs or have a question about the Watson services, see [Stack Overflow](https://stackoverflow.com/questions/tagged/ibm-watson+node.js).

 Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**

1.  For service issues or 5xx errors, first, go to th

[2020-05-04 13:43] jfmartinez commented on #1028
Meant to get back to this, I was reading through the issues in the websocket-node repo, looks like its meant to work as intended per the W3CSpecification (meant for web pages): https://github.com/theturtle32/WebSocket-Node/issues/198#issuecomment-111325618

I think the only way to get more error information would be to use the other client in that library: [WebSocketClient](https://github.com/thet

[2020-05-04 13:43] #1028 closed

[2020-05-05 15:51] dpopp07 commented on #1041
Thanks for the issue, I will look into this today

[2020-05-05 15:55] LuisPeregrinaPSL commented on #1041
Turn's out it's result's result (result['result'] or result.result). Maybe something changed in the Promise and the doc has not been updated.

[2020-05-05 16:07] dpopp07 commented on #1041
Yep, just realized the same. The documentation is out of date. I will fix that ASAP. Thanks for bringing this to our attention!

[2020-05-05 16:20] LuisPeregrinaPSL commented on #1041
Also, Promise<LanguageTranslatorV3.Response<NodeJS.ReadableStream | Buffer>> It seems that the Response was refactored to include the buffer inside the response, instead of extending, as I understand, in the typing (v3.d.ts).

[2020-05-05 17:00] dpopp07 commented on #1041
Indeed

[2020-05-11 10:00] chughts opened #1043 "Axios 0.18.0 Vulnerabilties"
The Node-RED Watson nodes which depend on IBM-Watson are no-longer deploying due to a vulnerability in Axios 0.18.0. The current release of IBM-Watson 5.5.0 has Axios as a dependancy.

I believe that this has been identified and fixed in a pull-request, hopefully in IBM-Watson 5.5.1.

I just wanted to highlight the importance of this dependancy bump, and hopefully hasten the release of 5.5.1

[2020-05-11 14:43] germanattanasio commented on #1043
Hey @chughts, the SDK doesn't depend on `axios` anymore. I think you should move this issue to https://github.com/IBM/node-sdk-core. If they update `axios` we can update it here.

[2020-05-11 15:43] chughts commented on #1043
@germanattanasio thanks, I didn't notice that the dependancy was in devDependancies. I have raised the issue on node-sdk-core - https://github.com/IBM/node-sdk-core/issues/93

[2020-05-17 13:45] #1029 closed

[2020-05-24 20:21] dandv commented on #1034
Unstale

[2020-05-24 20:21] dandv commented on #1033
Unstale

[2020-05-26 15:46] germanattanasio commented on #1033
@dandv this looks like a problem with the service not the SDK. I will see if I can find someone to look into this. Sorry for the delay

[2020-05-26 15:56] germanattanasio commented on #1034
Similar to https://github.com/watson-developer-cloud/node-sdk/issues/1033 I think this could be a problem with the service.

[2020-05-26 17:02] idfah commented on #1033
@dandv @germanattanasio I believe that this issue should now be fixed.  Can someone please check if this is still happening?  Thank you.

[2020-05-30 11:28] mediumTaj commented on #940
Still active

[2020-06-03 09:49] Rexsunon opened #1045 "[visual-recognition] analyze imageUrl returning 400"
Using nodejs Watson SDK for visual recognition, I've been trying to analyze images using the image URL to get analysis from my trained collections. But I keep getting **400 error Bad Request: Bad Request**.

Node version: v12.13.0
Watson SDK version: 5.5.0

[2020-06-03 15:35] dpopp07 commented on #1045
Will you post a code snippet so we can try and debug your issue?

[2020-06-05 03:12] Rexsunon commented on #1045
Sorry for the late response, here is the code.

`const params = {
	imageUrl: [
		'http://localhost:5000/uploads/IMG_2638.jpg',
		'http://localhost:5000/uploads/IMG_2641.jpg',
		'http://localhost:5000/uploads/IMG_0489.jpg',
		'http://localhost:5000/uploads/IMG_0484.jpg',
		'http://localhost:5000/uploads/IMG_0482.jpg',
	],
	collectionIds: ['collectionIds'],
	features: ['objects'],
};

visualRecognit

[2020-06-05 08:28] akjoshi6 opened #1046 "Speech-to-text Streaming mode in jobs"
I am able to get transcription for continuously growing audio files using below example [Synchronous]:
https://github.com/watson-developer-cloud/node-sdk/blob/master/examples/speech_to_text.v1.js

I now want to stream multiple growing audio files by creating jobs [Asynchronous]. I am using [this](https://www.npmjs.com/package/@uppy/fs-tail-stream) package to obtain a createReadStream object to con

[2020-06-05 14:47] EdmarPereira opened #1047 "Electron error with test/utils"
Hello I am working on an application developed in electron, where the frontend is made in ReactJs and backend in NodeJs. I installed the “ibm-watson” package to use the Watson Assistant module, however when I generate the electron build for production, an exception error appears saying:

"A Javascript error occurred in the main process.
Uncaught Exception:
Error: Cannot find a module './test/utils

[2020-06-05 16:47] dpopp07 commented on #1047
@EdmarPereira Thanks for bringing this up. We've not seen this show up as a problem before but you're right, it shouldn't be required in the exported application.

We'll need to fix this

[2020-06-05 16:56] dpopp07 commented on #1045
Hm your code looks like it should be fine. There are some requirements for the images in `imageUrl`:

Do your images follow those rules?

Also, are you able to invoke this request with CURL? I'm not sure that this is an issue that can be fixed in the SDK.

[2020-06-05 17:00] dpopp07 commented on #1046
As it's a 500-level "Internal Server Error" so I don't think there's anything that can be fixed in the SDKs, it is likely a bug in the API. @mamoonraja who would be the best person to look at this on the service-side?

[2020-06-06 01:17] Rexsunon commented on #1045
I'm not sure about the roles. But it seems to work fine when i tested the images locally by using the image path. But it throws that error when i use the url.

[2020-06-06 08:29] #1004 closed

[2020-06-06 08:29] #1035 closed

[2020-06-12 18:01] #1025 closed

[2020-07-09 10:35] akjoshi6 opened #1048 "Speech-To-Text: Memory leakage while using recognizeStream"
I am dealing with continuously increasing .aac files, creating a stream using createReadStream and passing it to recognizeStream using pipe which looks like below:

`var recognizeStream = speechToText.recognizeUsingWebSocket(_this.params);`
 `var transcriber = fst.createReadStream(filePath,_this.options).pipe(recognizeStream).on('sync',function(){
                    recognizeStream.close();

[2020-07-16 13:49] EdmarPereira commented on #1047
Hey, any update on this, this will be on next release?
Every time we delete our node_modules we need to search for this line in the package and comment it.
Thanks a lot

[2020-07-16 14:51] dpopp07 commented on #1047
Hi @EdmarPereira no update yet, but I will look at it this week

[2020-07-17 20:38] dpopp07 commented on #1047
@EdmarPereira The issue in the core is being addressed ([PR here](https://github.com/IBM/node-sdk-core/pull/101)). Once the new version of the core is out, I will update this package and the problem should be resolved

[2020-07-23 15:16] #1047 closed

[2020-07-28 18:58] mamoonraja commented on #1046
I will reach out to @daniel-bolanos and see what we can do about it.

[2020-07-29 16:23] oyundari1205 commented on #1008
how did you solve this error? Thanks

[2020-07-30 13:22] mamoonraja commented on #1046
@akjoshi6 can you still reproduce the issue? Service team will look into it if it's still an issue.

[2020-08-01 18:25] #1034 closed

[2020-08-01 18:25] #1033 closed

[2020-08-06 03:46] maclean-stu opened #1054 "Webpack example fails to compile"
Using the code from the webpack example here https://github.com/watson-developer-cloud/node-sdk/tree/master/examples/webpack  I get a failed to compile error

ERROR in ./node_modules/stack-utils/index.js
Module not found: Error: Can't resolve 'module' in '/Users/sjm/Box Sync/Demos/app-stt-test/node_modules/stack-utils'
 @ ./node_modules/stack-utils/index.js 6:2-19
 @ ./node_modules/jest-message-ut

[2020-08-11 06:52] akjoshi6 commented on #1046
No, not able to reproduce

[2020-08-11 06:52] #1046 closed

[2020-08-12 21:51] maclean-stu commented on #1054
Working with @apaparazzi0329 he determined that we needed to add an additional configuration in the node: section of the webpack configuration file. eg

'use strict';

module.exports = {
  mode: 'development',
  entry: './public/client.js',
  output: {
    filename: 'bundle.js',
  },
  node: {
    // see http://webpack.github.io/docs/configuration.html#node
    // and https://webpack.js.org/config

[2020-08-12 21:54] maclean-stu commented on #1054
The above corrected the issue as per the example. Doco should be updated. However it only works for the '2016-05-19' version of the tone api. It fails if I try and use the current version of the api '2017-09-21'. This should be a defect as customers using these examples will generally use the current version of the api.

[2020-08-15 03:41] #1045 closed

[2020-08-19 15:11] apaparazzi0329 commented on #1054
The example does in fact work with the current version of the api and the confusion was from different response definitions from the differing versions

[2020-08-19 15:11] #1054 closed

[2020-08-20 00:58] maclean-stu commented on #1054
Yep, more text did the trick....

[2020-08-21 04:10] MasterOdin commented on #1043
@germanattanasio The fixed version of axios was pinned to a high enough version in the 2.4.2 release of the node-sdk-core which this library has used since #1050 was merged and 5.6.1 was released.

[2020-09-11 03:16] #1041 closed

[2020-09-14 20:36] apaparazzi0329 commented on #1048
Hi @akjoshi6 thank you for bringing up this issue. Would you be able to tell me what version of the node sdk you were using when you found this issue. Also, if this is no longer an issue would you be able to share the solution you found. Thanks again

[2020-09-15 05:00] akjoshi6 commented on #1048
Node version was 5.6.0 I handled this by deleting/renaming respective audio file on close socket event. Let me know if there's any better approach to handle this

[2020-09-16 14:56] apaparazzi0329 commented on #1048
Awesome thanks for the info. I will let you know if I discover anything better

[2020-09-17 20:47] gabrielfelipeio opened #1057 "[natural-language-classifier ] Stage on into IBM Cloud Foundry does not work"
Remember, an issue is not the place to ask questions. If you have issues with the APIs or have a question about the Watson services, see [Stack Overflow](https://stackoverflow.com/questions/tagged/ibm-watson+node.js).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, please be sure to include the following:
- [ ] Start t

[2020-09-17 21:16] dpopp07 commented on #1057
It looks like you are using Node version `v0.10.40`. That is not supported by this package. You need to be using Node version 10 or greater. Let us know if you have any additional issues!

[2020-09-17 21:16] #1057 closed

[2020-09-28 16:15] apaparazzi0329 opened #1059 "recognizeUsingWebSocket does not support `serviceUrl` initialization parameter"
**Overview**
The `recognizeUsingWebSocket` method from STT and TTS does not support the use of initializing `SpeechToTextV1` and `TextToSpeechV1` with `serviceUrl` but instead only supports `url`

**Expected behavior**
`recognizeUsingWebSocket` should support the use of `serviceUrl` as all other methods do

**Actual behavior**
A WebSocket connection error will be thrown when `serviceUrl` is used t

[2020-09-29 16:30] #1059 closed

[2020-10-02 02:04] guanchaoli commented on #1014
It looks not a complicated issue, I saw you are missing the 'includeCount' parameter in 'listIntents' API call. Simply adding it back will work. I just modified ibm-watson code in my local node_modules and it worked.

[2020-10-02 09:19] guanchaoli opened #1061 "Assistant: Add 'includeCount' parameter for 'listIntents'"
Remember, an issue is not the place to ask questions. If you have issues with the APIs or have a question about the Watson services, see [Stack Overflow](https://stackoverflow.com/questions/tagged/ibm-watson+node.js).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When you open an issue for a feature request, please add as much detail as p

[2020-10-05 14:13] dtom90 opened #1064 "Creating Assistant with `ibm-credentials.env` requires additional `serviceName: 'assistant'` to work"
**Overview**
When creating a `new AssistantV1(...)` using [credentials file](https://github.com/watson-developer-cloud/node-sdk#credentials-file-easier) an additional config `serviceName: 'assistant'` must be passed into the constructor options to override the default `serviceName: 'conversation'`:
[code]
This is not documented in the README and can cause a bit of confusion

**Expected behavior**

[2020-10-09 02:49] MattRiddell opened #1065 "[speech-to-text] Change to a custom grammar gives: "Header JSON already received. Now expected a sequence of blobs or an 'unready' event, but got 'listen' event in state 'listening'""
**Overview**

I have started a streaming WebSocket connection and piped in the audio from a telephone call.

I run:

[code]

By the way all the [IBM js examples for websockets](https://cloud.ibm.com/docs/speech-to-text?topic=speech-to-text-websockets) say to use content-type without speech marks which obviously wouldn't work

**Expected behavior**
I expect the grammar to change to the 3 letters gr

[2020-10-09 02:51] MattRiddell commented on #1065
The examples with content-type are at:

[https://cloud.ibm.com/docs/speech-to-text?topic=speech-to-text-websockets](https://cloud.ibm.com/docs/speech-to-text?topic=speech-to-text-websockets)

[2020-10-09 16:43] dpopp07 commented on #1064
@dtom90 Thanks for the issue. We are aware of this problem. Unfortunately, there are legacy issues preventing us from changing the default service name to 'assistant`, which would be the desired solution. I need to determine if this is something we can fix in the upcoming major release.

In the meantime, I suppose the best we can do is document this explicitly in the README.

[2020-10-09 16:46] dpopp07 commented on #1065
@MattRiddell Thanks for the issue and for all of the detail. I will attempt to reproduce the issue soon.

We'll get those examples updated ASAP as well 👍

[2020-10-09 17:32] MattRiddell commented on #1065
Cool man, let me know if there's anything I can do to help - in the meantime I'm shutting the stream down and starting it back up with another grammar.

[2020-10-12 17:41] dpopp07 commented on #1061
@guanchaoli Thanks again for following up here. This fix will be released in v6 of the SDK

[2020-10-22 07:02] amitchauhanKN commented on #1019
I am facing the same issue, what am i suppose to do ?

A 2020-10-22T04:38:35Z { Error: getaddrinfo ENOTFOUND twcservice.eu-gb.mybluemix.net twcservice.eu-gb.mybluemix.net:443
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:67:26)

A 2020-10-22T04:38:35Z   errno: 'ENOTFOUND',

A 2020-10-22T04:38:35Z   code: 'ENOTFOUND',

A 2020-10-22T04:38:35Z   syscall: 'getaddrinfo',

A 2020-10-22T04:3

[2020-10-26 03:10] MattRiddell commented on #1065
Hiya, anything I can do to help/get the hacks out of my code? Have premium IBM support SLA/contract. Is this the right place or there?

[2020-10-26 14:24] dpopp07 commented on #1065
@MattRiddell Apologies, things got piled on top of this. I will take a look at it today

[2020-10-26 22:01] dpopp07 commented on #1065
@MattRiddell I am able to reproduce your issue and I think I know what is wrong although, unfortunately, I'm not yet sure what to do about it.

The key sentence in the docs that you included with your issue is

Specifically, `after it receives the final recognition results and {"state":"listening"} message from the service`.

The issue is that you are sending the new message before the final recog

[2020-10-27 13:01] MattRiddell commented on #1065
I don't think in my tests the connection got closed because I continue to receive results.

I'll dig into the code a bit more from my end and see if I can come up with something.  If it really does get closed we could store the request and send it on the new start rather than as a new message.

Will dig in from my end when I get a chance and post back.

[2020-11-12 12:08] Shing-Ho commented on #942
[code]
I am getting this problem, Any thing that I can do?

[2020-11-12 12:16] Shing-Ho opened #1071 "Not working in react-native"
I am trying to use ibm-watson and ibm-cloud-sdk-core in the react-native.
My current versions:
react: 16.11.0
react-native 0.62.2
ibm-watson: 5.7.1.
ibm-cloud-sdk-core: 2.7.0

But it's not running the app and it's showing
[code]

Is there any way to fix this?

[2020-12-05 05:11] #1048 closed

[2020-12-11 11:26] alessandrofaraotti opened #1077 "Cannot find module 'ibm-watson/auth'"
**Overview**
Error afert updating to ibm-watson v5.7.2 in package.json.
Cannot find module 'ibm-watson/auth'

**Expected behavior**
Module is loaded

**Actual behavior**
Error at startup

**How to reproduce**
package.json  add dependency: "ibm-watson" : "5.7.2"

add in any .js (e.g app.js)
const { IamAuthenticator } = require('ibm-watson/auth');

**Screenshots**
Error: Cannot find module 'ibm-wats

[2020-12-11 15:02] dpopp07 commented on #1077
@apaparazzi0329 we need to look at this ASAP

[2020-12-11 15:28] dpopp07 commented on #1077
Yes, 5.7.2 is broken and unusable. Any package that relies on this with `^` syntax will automatically update and be broken. I am going to publish a fix in 5.7.3 immediately

[2020-12-11 15:39] dpopp07 commented on #1077
5.7.3 is published and should be working again. Thanks for reporting this so quickly. Please let us know if you run into any more issues

[2020-12-11 15:39] #1077 closed

[2020-12-25 12:06] #1064 closed

[2020-12-25 12:06] #1061 closed

[2020-12-29 15:38] dpopp07 commented on #1065
Still needs fixing

[2021-02-09 00:56] rzfzr opened #1083 "No luck with Speech-to-text: HTTP Authentication failed; no valid credentials available"
**Overview**
I tried replicating both examples, the one in the main readme and the one in the examples folder (they are slightly different), however it fails to connect.

**Screenshots**
![image](https://user-images.githubusercontent.com/13456224/107300414-3d1e6300-6a58-11eb-94d6-0d3c9cb46f90.png)

**SDK Version**
"ibm-watson": "^6.0.0",

**Additional information:**
Windows 10
Node v14.15.3

[2021-02-09 18:20] apaparazzi0329 commented on #1083
Hi rzfzr thank you for filing this issue. Would you be able to provide a code snippet of what you are running minus any api keys you may be using. Also as a first guess make sure to check that you inputted the correct credentials.

[2021-02-09 18:53] rzfzr commented on #1083
Hello there, sure, here's the relevant code

[code]
[...]

[code]

[2021-02-09 18:54] rzfzr commented on #1083
But from what I have been seing this isso might has something to do with the fact that I am trying to use it through electron, it's still node, I thought it should work

[2021-02-09 19:25] rzfzr commented on #1083
@apaparazzi0329 thanks for the edit, I can't believe it  I forgot... :/, I'm generating new keys

[2021-02-09 19:26] apaparazzi0329 commented on #1083
No worries ;)

[2021-02-09 19:32] apaparazzi0329 commented on #1083
Can you do me a favor? After creating the SpeechToTextV1 instance can you `console.log` its contents. I'm specifically interested in seeing its `serviceUrl` property

[2021-02-09 19:42] rzfzr commented on #1083
Sure thing, thanks for the help, I thought this url was as sensitive as the apikey

[code]

[2021-02-09 19:48] apaparazzi0329 commented on #1083
Its not as sensitive since you can't actually make calls to the service without the apikey, in fact your instance is often inferred from the apikey so sometimes you don't even need the url. The only thing that strikes me as odd is that your url is `api.us-south.speech-to-text.watson.cloud.ibm.com` which is located in the US yet your websocket call is trying to hit a server in london. Are you behin

[2021-02-09 19:53] rzfzr commented on #1083
Got it,
not behind a vpn of any kind, I am situated in Brazil tho, internet-wise that seems to be always closer to north america than to europe server....  The Dallas server was the first to come up when selecting so I thought it was the closest, I could try the UK one if one exists

[2021-02-09 21:14] rzfzr commented on #1083
Well it's settled, electron is messing things up, I dropped the exact same code into a js test file and executed it with just node and it worked perfectly....
I already enabled node integration to get other things to work, like extraResources, fs, ffmpeg..., my vue.config.js looks like this:

[code]

[2021-02-09 21:24] apaparazzi0329 commented on #1083
In that case my knowledge to help fix an issue with Electron would be quite limited. I am curious though could you try calling different endpoints and sending the same error message you sent in the beginning. I want to see if you will always hit the old london endpoint. Simply replace `api.us-south` in your `serviceUrl` with each of these endpoints
`api.us-east`
`api.eu-gb`

[2021-02-09 21:53] rzfzr commented on #1083
with gb:
[code]

and east:

[code]

[2021-02-09 22:00] rzfzr commented on #1083
I am positive it is something with it not liking not being vanilla node, watson was my first attempt as I used another AI resource for natural language in a similar faction, but after a day with no progress I tried to implement googles speech to text with very similar results, in that case I found [this](https://www.npmjs.com/package/electron-speech) which seems that they are actively stopping it.

[2021-02-22 07:11] Benno007 opened #1084 "Types for SpeechRecognitionAlternative.timestamps seem wrong when using recognizeUsingWebSocket"
Remember, an issue is not the place to ask questions. If you have issues with the APIs or have a question about the Watson services, see [Stack Overflow](https://stackoverflow.com/questions/tagged/ibm-watson+node.js).

 Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**

1.  ~For service issues or 5xx errors, first, go to t

[2021-02-22 16:28] repjarms commented on #1084
@Benno007 thanks for filing a great detailed report! We are investigating this now and will provide updates on the status of a fix.

[2021-02-22 18:33] #1084 closed

[2021-03-09 09:43] FrancescoDiMaggio opened #1086 "Impossible to install ibm-watson - node-gyp-build MODULE_NOT_FOUND"
[code]
Any idea?

[2021-03-09 12:48] repjarms commented on #1086
@FrancescoDiMaggio thanks for posting this! It looks like you are on Windows, do you have `node-gyp` set up on your machine? It looks like the specific error states that the install process is looking for `node-gyp` at `C:\Users\Francesco\Documents\node-gyp-build\bin.js` and unable to find it.

I'm not a Windows user myself, but I did find this StackOverflow post where some folks were discussing t

[2021-03-20 11:28] sw-dev-code opened #1088 "Receiving stream and passing it to SpeechToText service"
I would like to use the audio stream which is received over the Websocket as input to the SpeechToText service instead of input from the microphone.

Is that possible and is there any example of how to do that?

Thank you in advance.

[2021-03-27 13:26] WARDHAN10 commented on #1020
no bro still the problem not solved

[2021-03-29 17:21] fgoyti opened #1089 "Response includes period character"
**Overview**
Response includes a period at the end, only in the Node SDK.  If I use curl or the Try button in the Dialog UI, there is no period (as expected).  For example,
response.result.output.generic[0].text returns "What API would you like to learn about?."  In my Dialog, there is no period after the question mark.

**Expected behavior**
No period after the question mark.

**Actual behavior**

[2021-03-29 17:28] apaparazzi0329 commented on #1089
Thank you for posting this issue I shall look into it shortly

[2021-03-29 18:49] fgoyti commented on #1089
Please disregard.  This is not a bug.  Error in my code.

[2021-03-29 18:49] #1089 closed

[2021-03-30 13:04] psulkava opened #1090 "React & Webpack webapp fails to load ibm-watson in browser"
**Overview**
I'm attempting to use DiscoveryV2. within an existing React application that is using Webpack 4 for bundling and webpack-dev-server for running locally. Whenever I attempt to run the application locally it fails to load with the following error.

[code]

The error seems to be coming from the vendor.js file which is the npm package bundled code and specifically from the ibm-watson pack

[2021-03-30 13:42] repjarms commented on #1090
@psulkava thanks for filing this! We can look into it and see if we can reproduce it. Out of curiosity - could you check and let us know what version of the `ibm-cloud-sdk-core` package you have installed in the app as well?

@apaparazzi0329 @dpopp07 since you both know more than I do about the node sdk.

[2021-03-30 13:48] psulkava commented on #1090
@repjarms The version of `ibm-cloud-sdk-core` is "2.10.1" which is being included by the ibm-watson package.

[2021-04-01 20:34] dpopp07 commented on #1090
@psulkava We identified the issue in the core package and I just opened a PR to fix [here](https://github.com/IBM/node-sdk-core/pull/132). Once the core patch merges and releases, we'll release a patch version of the Watson Node SDK. Hopefully this will all happen pretty quickly. Version `6.0.4` of this SDK will contain the fix

[2021-04-05 21:03] dpopp07 commented on #1090
Version `6.0.4` has been released - let us know if the issue persists

[2021-04-05 21:03] #1090 closed

[2021-04-26 13:25] komalpcg commented on #683
It is happening for me. I called the ibm watson API for sentiment analysis from firebase cloud functions and it results in error randomly:
 getaddrinfo ENOTFOUND iam.cloud.ibm.com iam.cloud.ibm.com:443

[2021-05-11 08:23] #1086 closed, assigned to nobody

[2021-05-11 21:08] txm3278 commented on #884
I understand from reading this that Watson IAM doesn't support CORS, but what is possible with Assistant2 on browser without that? Just creating a session throws a cors error.

[2021-05-16 21:28] christianduncan commented on #1008
Why is this closed has anyone found solution? Please re-open

[2021-05-17 14:19] dpopp07 commented on #1008
Have you tried this approach? The problem was addressed in [this comment](https://github.com/watson-developer-cloud/node-sdk/issues/1008#issuecomment-570223861)

[2021-06-03 08:57] Namratasai1 opened #1100 "When we are starting the npm, getting an error that Error: Missing required parameters: assistantId"
Remember, an issue is not the place to ask questions. If you have issues with the APIs or have a question about the Watson services, see [Stack Overflow](https://stackoverflow.com/questions/tagged/ibm-watson+node.js).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, please be sure to include the following:
- [ ] Start t

[2021-06-03 09:05] Namratasai1 commented on #1100
Server running on port: 3000
(node:5332) UnhandledPromiseRejectionWarning: Error: Missing required parameters: assistantId
    at Object.getMissingParams (C:\Users\AchantaSai\Downloads\conv2-wo-sso\node_modules\ibm-cloud-sdk-core\lib\helper.js:116:11)
    at AssistantV2.createSession (C:\Users\AchantaSai\Downloads\conv2-wo-sso\node_modules\ibm-watson\assistant\v2.js:105:50)
    at C:\Users\Achanta

[2021-06-03 13:05] repjarms commented on #1100
@Namratasai1 hello - thanks for taking the time to file this. To provide us with more information, can you share the following information:

1. What version of the SDK are you using?
2. Can you share a snippet of the code that is causing this error? Be sure to hide any API keys or sensitive information.

[2021-06-03 13:51] Namratasai1 commented on #1100
"version": "0.1.1",
app.post('/api/message', function (req, res) {
  var assistantId = process.env.ASSISTANT_ID || '<assistant-id>';
  if (!assistantId || assistantId === '<assistant-id>') {
    return res.json({
      'output': {
        'text': 'The app has not been configured with a <b>ASSISTANT_ID</b> environment variable. Please refer to the ' + '<a href="https://github.com/watson-developer-c

[2021-06-03 13:54] Namratasai1 commented on #1100
Can you please check once

[2021-06-03 14:47] apaparazzi0329 commented on #1100
What do you want us to check here? None of this code seems to be using the node-sdk

[2021-06-03 14:53] Namratasai1 commented on #1100
We are writing the code in angular when we are trying to run the app, we are getting an error like,
Server running on port: 3000
(node:5332) UnhandledPromiseRejectionWarning: Error: Missing required parameters: assistantId

[2021-06-04 13:37] apaparazzi0329 commented on #1100
Closing as non-issue

[2021-06-04 13:37] #1100 closed

[2021-06-08 19:39] allyssonf opened #1101 "Assistant timezone"
---

**Overview**
When trying to set Assistant timezone for proper behavior when sending message an UnhandledPromiseRejectionWarning is thrown for every message exchanged.

**Expected behavior**
No promises rejection .

**Actual behavior**
[code]

**How to reproduce**
Just try to send a message with following parameters:
[code]

**SDK Version**
^6.1.1

**Additional information:**
- OS: MacOS Big S

[2021-06-10 13:25] allyssonf commented on #1101
Sorry, this was a typo in my code.

[2021-06-10 13:25] #1101 closed

[2021-06-10 14:57] SoubhagyaPrustyTR commented on #996
@dvf3101  - Maybe this is an old post, but we are seeing this issue in our server. Just wondering on the proxy configuration. The changes that you did, is it on the server hosting the code or is it the proxy server?

[2021-06-14 19:29] apaparazzi0329 commented on #1071
Closing as wontfix. In the future, if this is a heavily requested feature, we may do more testing to ensure compatibility with React Native but for now results may vary.

[2021-06-14 19:29] #1071 closed

[2021-06-14 19:47] apaparazzi0329 commented on #1083
This issue is outside this repository's scope. Closing as wontfix. If more issues come in involving Electron we may look into increased instructions or compatibility.

[2021-06-14 19:47] #1083 closed

[2021-06-15 14:03] apaparazzi0329 commented on #1088
The issues board is only used for reporting bugs and/or feature enhancements. For assistance in developing with Watson I would ask your questions in the Watson Developer Community Slack channel. Here is the invite link. https://wdc-slack-inviter.mybluemix.net/. Closing as non issue

[2021-06-15 14:03] #1088 closed

[2021-06-17 06:21] xinyi1989 opened #1102 "Add Discovery expansions Api"
Remember, an issue is not the place to ask questions. If you have issues with the APIs or have a question about the Watson services, see [Stack Overflow](https://stackoverflow.com/questions/tagged/ibm-watson+node.js).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When you open an issue for a feature request, please add as much detail as p

[2021-07-04 06:25] Ayan-web opened #1104 "ReferenceError: exports is not defined"
I am using [Sveltkit](https://kit.svelte.dev/) endpoint to get `authToken` but the endpoint spits out this error
[code]
my endpoint looks like this
[code]
most of the code is from [speech-javascript-sdk](https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/examples/server.js) examples

[2021-07-07 14:14] akirilyuk opened #1105 "Add disambiguation support [SOLVED]"
Found out how to use with disambiguation after playing around more with sdk and tracing the request creation.

**EDIT: modified the code to show an example on how to trigger disambiguation result.**

[code]

[2021-07-08 12:37] #1105 closed

[2021-10-18 06:30] francescoferraioli opened #1115 "Types for SpeechRecognitionAlternative.word_confidence seem wrong when using recognizeUsingWebSocket"
Remember, an issue is not the place to ask questions. If you have issues with the APIs or have a question about the Watson services, see [Stack Overflow](https://stackoverflow.com/questions/tagged/ibm-watson+node.js).

 Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**

1.  For service issues or 5xx errors, first, go to th

[2021-11-01 06:51] oshihirii opened #1116 "Error: Cannot find module 'tough-cookie'"
Node: 14.18.1
OS: windows 10
ibm-watson:  "^6.2.1"
@babel/cli: "^7.16.0"
@babel/core: "^7.16.0"
@babel/preset-env: "^7.16.0"

I have recently upgraded to node `14.18.1` and from ibm-watson `4.2.2` to `6.2.1`.

When I try and run the app, I get the errors below:

[code]

In case it is related:

I import into my server side file with:

    var TextToSpeechV1 = require('ibm-watson/text-to-speech/v1')

[2021-11-02 07:16] oshihirii commented on #1116
I had to run:

    npm uninstall ibm-watson

then:

    npm install ibm-watson

And that error went away.

I'm not sure why.

I got the idea from [this post](https://stackoverflow.com/a/36639811), not sure if it is relevant though.

[2021-12-17 21:28] bwilloughby1 opened #1119 "Latest version creates runtime error when bundled: `Class constructor BaseService cannot be invoked without 'new'`"
**Overview**
With the latest `ibm-watson` 6.2.1 version, when bundling JavaScript, using tools such as Webpack or Rollup.js, a runtime error occurs.  The exception message received when running the bundled file is as follows:  "Class constructor BaseService cannot be invoked without 'new'".  We have narrowed the issue down to the fact that when the `ibm-cloud-sdk-core`  2.17.0 or older child depen

[2022-01-25 20:34] apaparazzi0329 commented on #940
@mwoodsy Do you know if this is still an issue in the latest version of the node-sdk, 6.2.2?

[2022-01-25 20:36] apaparazzi0329 commented on #1119
@bwilloughby1 has this issue been resolved using the latest version of the node-sdk-core?

[2022-01-26 20:32] renovate[bot] opened #1148 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] fix(deps): update dependency @types/isstream to v0.1.2
 - [ ] chore(deps): update actions/checkout action to v

[2022-01-28 00:05] bwilloughby1 commented on #1119
This issue is now resolved.  Thank you!

[2022-01-28 00:05] #1119 closed

[2022-04-27 20:00] #1102 closed

[2022-04-27 20:00] #1104 closed

[2022-04-27 20:00] #1065 closed

[2022-04-27 20:00] #1115 closed

[2022-04-27 20:00] #1116 closed

[2022-04-27 20:00] #940 closed

[2022-05-06 15:29] jkelvie opened #1160 "Errors using maxAlternatives with recognizeUsingWebSocket on SpeechToTextV1"
**Overview**

In the last week, when calling recognizeUsingWebSocket on the SpeechToTextV1 API, we suddenly we get the error:
`"No active exception to reraise"`

This happens when maxAlternatives is set to anything higher than 1.

This error does NOT occur with the non-WebSocket recognition calls.

**Expected behavior**
The SDK should return several alternatives.

**Actual behavior**
We get an exc

[2022-08-17 11:33] xiaoxpai commented on #996
o(╥﹏╥)o，**I also encountered this problem，Has this error been resolved, please help me**

PS E:\_IdeaProject\fork\renren-ui-master> npm install
npm ERR! code EPROTO
npm ERR! errno EPROTO
npm ERR! request to https://registry.npmmirror.com/semver failed, reason: write EPROTO 2924:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:c:\ws\deps\openssl\openssl\ssl\record\ssl3_record.c:332: